/* FONTS */
@font-face {
	font-family: 'Ice Caps';
	src: url('https://veratuesday.github.io/VeraTuesday/IceCaps-7rLD.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Plymouthrock';
	src: url('https://veratuesday.github.io/VeraTuesday/PlymouthrockSnowdusted-8aXA.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brafesuit';
	src: url('https://veratuesday.github.io/VeraTuesday/Brafesuit.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'French Notez';
	src: url('https://veratuesday.github.io/VeraTuesday/French Notez.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* BACKGROUND IMAGE */
body {
	background-image: url('https://i.postimg.cc/x8GCcXQX/cb0av60o00s61.jpg') !important;
	background-position: center center;
	background-size: cover;
}

/* CURSOR */
* {
	cursor: url('https://i.postimg.cc/tgf92FZH/Image-To-Stl-com-cursor-11.png'), progress !important;
}

/* HEADER */
h1 {
	font-family: 'Plymouthrock';
	font-size: 90px;
	text-align: center;
	color: #c5deff;
	text-shadow: 0 0 5px #dbffff82,
	0 0 5px #dbffff33,
	0 0 20px #dbffff70;
}

.biography-box {
	width: 100%;
	max-height: 250px;
	overflow-y: auto;
	transition: max-height 1s ease-in-out;
	border: none;
	border-radius: 10px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #7194a68c;
	font-family: 'Brafesuit';
	color: #fff;
	backdrop-filter: blur(30px);
}

.biography-box:hover {
	max-height: 500px;
	/* Expand the height on hover. Use a value larger than your content. */
}

.biography-box::-webkit-scrollbar {
	width: 10px;
	margin-left: 10px;
}

.biography-box::-webkit-scrollbar-track {
	background: #f1f1f100;
}

.biography-box::-webkit-scrollbar-thumb {
	background: #c0daf994;
	border-radius: 100px;
	margin: 20px;
	max-height: 30px;
}

.biography-box::-webkit-scrollbar-thumb:hover {
	background: #44556d;
}

/* TEXT */
* {
	font-family: 'French Notez';
	color: #e0e1dd;
}

a {
	font-family: 'French Notez';
	color: #e0e1dd;
	transition: text-shadow 0.3s ease;
}

a:hover {
	text-shadow: 0 0 10px #9be2ff, /* Green glow */
	0 0 20px #9be2ff,
	0 0 30px #9be2ff;
}

/* NAVBAR */
#header.container {
	background: none !important;
}

#header.container .navbar.navbar-main.navbar-dark.navbar-expand-lg {
	background-color: #0d1b2a8c;
	border: none !important;
}

#header .navbar-main .nav-link {
	color: #e0e1dd;
}

#header .navbar-main .nav-link .fa {
	color: #c5deff;
}

#header.container .navbar.navbar-status.navbar-expand {
	background-color: #1b263b8a;
	border: none !important;
}

#header.container .breadcrumb-nav {
	background-color: #415a779e;
	border: none !important;
}

li.breadcrumb-item a {
	color: #c5deff;
}

.breadcrumb-item.active {
	color: #e0e1dd;
}

.breadcrumb.col-lg-9.ml-auto.text-break::after {
	content: "CSS by #181677";
	color: #b4d5ffd1;
	font-size: 14px !important;
	position: absolute;
	right: 6%;
	z-index: 100;
}



/* MAIN */
body {
	background-color: white;
}

#main {
	background-color: #778da966;
	flex: 1;
	max-width: 100%;
	margin-bottom: -1px;
	padding-bottom: 20px;
	padding-top: 60px;
}



.nav.nav-tabs {
	border: none;
	display: flex !important;
	justify-content: center !important;
	background-color: transparent;
	font-size: 0;
}

.nav-tabs .nav-link {
	border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: transparent;
	font-size: 0;
}

i.fas.fa-home.mr-2::before {
	content: "\f2dc";
	font-family: "Font Awesome 5 Free";
	font-size: 30px !important;
	color: #ededed;
	text-align: center !important;
}

.fa-user:before {
	content: "\f1b0";
	font-family: "Font Awesome 5 Free";
	font-size: 30px !important;
	color: #ededed;
	text-align: center !important;
}

img {
	filter: grayscale(60%) !important;
}

/* SIDEBAR */
#sidebar {
	display: none !important;
}

/* ALERTS AND BUTTONS */
.alert-success {
	background-color: #4a4e69a6;
	border-radius: 100px;
	border: none;
	padding-bottom: 10px;
	text-align: center;
	backdrop-filter: blur(25px);
}

.alert-danger {
	background: none;
	border: dotted 3px #e5989b;
	border-radius: 100px;
	margin-bottom: 50px;
	padding-bottom: 10px !important;
}

.alert-danger a {
	color: #e0e1dd !important;
}

.alert-info {
	background-color: #ccb7ae63;
	text-align: center;
	border: none;
	border-radius: 100px;
	padding-bottom: 10px;
	backdrop-filter: blur(25px);
}

.table {
	border: none;
}

/* LEAD AND FEATURED WOLF */
th.pt-1.pb-1 {
	background-color: #22223bc4;
	font-size: 30px !important;
	border-radius: 10px;
	padding: 40px;
	backdrop-filter: blur(5px);
}

tr {
	background: none !important;
	border: none;
}

td.row {
	background-color: #52d6e400;
	padding-bottom: 70px;
}

td a {
	color: #d2d2df;
}

.fa-circle:before {
	color: #a3ffdd9c;
}

div.col-xl-3.col-sm-7.text-center {
	margin-top: 30px !important;
	background-color: transparent !important;
	padding: 0px !important;
}

img[alt="Wolf Headshot"] {
	border-radius: 100px !important;
	border: none;
	filter: grayscale(80%) !important;
	transition: filter 0.5s ease-in-out;
}

#main .table .card.mb-3 a:before {
	content: '';
	background-image: url('https://i.postimg.cc/h4xSkbCC/d36c5c5ab3953a633dfc2d5a84c142f6.jpg');
	background-size: 100% auto;
	display: inline-block;
	width: 390px;
	height: 400px;
	top: -35%;
	left: -38%;
	position: absolute;
	pointer-events: none;
	z-index: 1 !important;
	mix-blend-mode: screen;
	filter: grayscale(100%);
	transform: scale(-1, 1);
}
#main .table .card.mb-3 a {
	position: relative;
}
#main .featured-wolf a:first-of-type {
	position: relative;
}

#main .featured-wolf a:first-of-type:before {
	z-index: 1;
	content: '';
	background-image: url('https://i.postimg.cc/h4xSkbCC/d36c5c5ab3953a633dfc2d5a84c142f6.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	width: 390px;
	height: 400px;
	top: -169px;
	left: -113px;
	position: absolute;
	pointer-events: none;
	mix-blend-mode: screen;
	filter: grayscale(100%);
}

#main .table:first-of-type td.row {
	padding-top: 40px !important;
}
#main .featured-wolf img {
	margin-top: 0px !important;
}
#main .featured-wolf a:nth-of-type(2) {
	display: none !important;
}

img[alt="Wolf Headshot"]:hover {
	filter: none !important;
	transition: filter 0.5s ease-in-out;
}

.border-none .card {
	background-color: transparent !important;
}

.card-body.pt-1.pb-1 {
	display: none;
}

.table th a {
	color: #d2d2df;
}

.col-xl-3 {
	max-width: 100% !important;
}

.featured-wolf img {
	width: 200px !important;
	height: 200px !important;
	border-radius: 100px;
	border: none;
	filter: grayscale(80%) !important;
	transition: opacity 0.5s ease-in-out;
}

.featured-wolf img:hover {
	filter: none !important;
	transition: 0.5s ease-in-out;
}

#lblFeaturedWolfTitle {
	display: none;
}

.featured-wolf br,
.btn-group-sm > .btn,
.featured-wolf {
	font-size: 0
}
.featured-wolf a img {
	width: 200px!important
}
th.pt-1.pb-1 {
	font-size: 0!important
}

.featured-wolf br,
.btn-group-sm > .btn,
.featured-wolf {
	padding-top: 30px;
}

#lblPackLeaderTitle::after {
	content: "For Stud Frostbite";
	color: rgb(250, 220, 235);
	font-family: French Notez !important;
	font-size: 25px !important;
	float: right
}
#lblPackLeaderTitle::before {
	content: "Empress Glacier";
	color: rgb(250, 220, 235);
	font-family: French Notez !important;
	font-size: 25px !important;
	float: left
}

#main .featured-wolf a:nth-of-type(2) {
	display: flow !important;
}

.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf a {
	font-size: 0px !important;
	color: #d2d2df !important;
	visibility: visible;
}

.btn-group-sm > .btn,
.btn-sm {
	display: none;
}

.col-xl-6 {
	padding-top: 20px;
}

td.b {
	text-align: right !important;
}

.col-xl-6.col-sm-12.order-xl-9.order-12 td {
	text-align: center;
}

table.striped {
	background-color: #867f9191;
	border-radius: 15px;
	backdrop-filter: blur(100px);
}

/* DEN CARDS */
#denCards .card {
	background-color: transparent;
	backdrop-filter: blur(2px);
	border-radius: 200px !important;
}

div#denCards.form-row img.card-img-top {
	height: 220px;
	transition: opacity 0.35s ease-in-out;
	filter: none !important;
}

#denCards .card-header {
	background: none;
	backdrop-filter: none;
	border: none;
	font-size: 25px;
	font-weight: lighter !important;
	height: 90px;
}

img[src$="packdynasty.png"] {
	content: url('https://i.postimg.cc/VLjpzRzF/ophiuchus-cons.jpg')!important;
	border-radius: 50px;
	opacity: 0.7;
}

img[src$="packoverview.png"] {
	content: url('https://i.postimg.cc/SN0H05bs/orion-cons.jpg')!important;
	border-radius: 50px;
	opacity: 0.7;
}

img[src$="breeding.png"] {
	content: url('https://i.postimg.cc/6qZS2Vnt/virgo-cons.jpg')!important;
	border-radius: 50px;
	opacity: 0.7;
}

img[src$="pupsitting.png"] {
	content: url('https://i.postimg.cc/MZfgFw4N/ursaminor-cons.jpg')!important;
	border-radius: 50px;
	opacity: 0.7;
}

img[src$="nesting.png"] {
	content: url('https://i.postimg.cc/ZR225s9w/ursamajor-con.jpg')!important;
	border-radius: 50px;
	opacity: 0.7;
}

img[src$="socializing.png"] {
	content: url('https://i.postimg.cc/0Qbhx1N6/cygnus-cons.jpg')!important;
	border-radius: 50px;
	opacity: 0.7;
}

img[alt="Pack Dynasty"] + .card-header b {
	font-size: 0;
}

img[alt="Pack Dynasty"] + .card-header b::before {
	content: "Pack Dynasty" !important;
	white-space: pre-wrap;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	bottom: 120px;
}

img[alt="Pack Dynasty"] + .card-header b::after {
	content: "-Constellation Ophiuchus-\ARebirth and the Underworld" !important;
	white-space: pre-wrap;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
}

img[alt="Pack Overview"] + .card-header b {
	font-size: 0;
}

img[alt="Pack Overview"] + .card-header b::before {
	content: "Pack Overview" !important;
	white-space: pre-wrap;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	bottom: 120px;
}

img[alt="Pack Overview"] + .card-header b::after {
	content: "-The Orion Family-\A A cluster of familial stars" !important;
	white-space: pre-wrap;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
}

img[alt="Breeding"] + .card-header b {
	font-size: 0;
}

img[alt="Breeding"] + .card-header b::before {
	content: "Breeding" !important;
	white-space: pre-wrap;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	bottom: 120px;
}

img[alt="Breeding"] + .card-header b::after {
	content: "-Constellation Virgo-\A Fertility and harvest" !important;
	white-space: pre-wrap;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
}

img[alt="Pupsitting"] + .card-header b {
	font-size: 0;
}

img[alt="Pupsitting"] + .card-header b::before {
	content: "Pupsitting" !important;
	white-space: pre-wrap;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	bottom: 120px;
}

img[alt="Pupsitting"] + .card-header b::after {
	content: "-Constellation Ursa Minor-\ALittle Cub" !important;
	white-space: pre-wrap;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
}

img[alt="Nesting"] + .card-header b {
	font-size: 0;
}

img[alt="Nesting"] + .card-header b::before {
	content: "Nesting" !important;
	white-space: pre-wrap;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	bottom: 120px;
}

img[alt="Nesting"] + .card-header b::after {
	content: "-Constellation Ursa Major-\AMother Bear" !important;
	white-space: pre-wrap;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
}

img[alt="Socializing"] + .card-header b {
	font-size: 0;
}

img[alt="Socializing"] + .card-header b::before {
	content: "Socializing" !important;
	white-space: pre-wrap;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	bottom: 120px;
}

img[alt="Socializing"] + .card-header b::after {
	content: "-Constellation Cygnus-\A Devotion and Loyalty" !important;
	white-space: pre-wrap;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: white;
}

/* TABLE ROWS */
th.top {
	border-radius: 15px !important;
	background-color: #0d1b2ade;
	color: #ffd9c4;
	font-weight: bold !important;
	font-size: 30px;
	text-align: center;
	backdrop-filter: blur(10px);
}

th.top a {
	font-size: 15px;
	color: #ffb4a2;
}

.fa-pen:before {
	color: #e5989b;
}

td a {
	color: #c5deff;
}

tr.subheader.font-weight-bold {
	background: none !important;
	color: #fff;
	font-size: 18px;
	font-weight: lighter !important;
}

form .table.table-striped {
	backdrop-filter: blur(200px);
	border-radius: 15px !important;
	color: #fff;
	margin-top: 60px;
}

.table td.bottom {
	background-color: #0d1b2ade;
	border-radius: 20px;
}

.table .form-control {
	border-radius: 50px;
	border: none;
	background-color: #4a4e69 !important;
}

.btn-success {
	background-color: #b5838d;
	border: none;
	border-radius: 10px;
}

.btn-success:hover {
	background-color: #e5989b;
}

/* WOLVES */
.border,
.border-bottom,
.border-left,
.border-right,
.border-top {
	border: double 4px #ffffff7d !important;
	border-radius: 100px;
	margin: 3px;
}

.bg-light,
.btn-light {
	border-radius: 20px;
	background-color: #565264c4 !important;
	border: solid 3px #ffffff4a;
}

.text-light {
	background: none !important;
	padding-top: 5px !important;
}

small.b {
	font-size: 20px;
	font-weight: lighter !important;
}

.rounded-bottom,
.rounded-left {
	border-radius: 100px !important;
	padding: 0 !important;
	height: 130px;
	width: 130px;
	border: double 8px #ffffffb8 !important;
}

.pl-3,
.px-3 {
	height: 110px !important;
	width: 110px !important;
}

.p-2 {
	height: 50px;
	width: 50px;
	padding: 0 !important;
	margin: 5px 5px 5px 5px;
}

.badge {
	border-radius: 100px;
	background: #d3d3ee42;
	font-weight: lighter;
	font-size: 15px;
}

td.row .border-none .card-img-top,
.table .form-row img {
	bordeR: none;
	margin: 5px;
}

.progress {
	background-color: #ffd9c4 !important;
}

.bg-warning,
.bg-warning .btn-link,
.bg-warning .card-title {
	background-color: #ffb4a2 !important;
}

.bg-success {
	background-color: #e5989b !important;
}

.bg-primary {
	background-color: #e5989b !important;
}

.bg-danger {
	background-color: #b5838d !important;
}

.bg-info {
	background-color: #706986 !important;
}

.table div.progress-bar.bg-success {
	background-color: #ffb4a2 !important;
}

/* CAVE MATS */
#main .card {
	background: none;
}

#main .card.mb-3 .card-body {
	background-color: #a6808cb8 !important;
	border-radius: 100px;
	border: none;
	padding-left: 40px !important;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
	color: #bacadf;
}

.text-danger {
	color: #ffb4a2 !important;
}

hr.flowers {
	background: none;
	content: url('https://i.postimg.cc/QC8P6T0q/pngwing-comjhv.png');
	width: 450px;
	height: 120px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	opacity: 50%;
	filter: grayscale(100%);
}

.btn-primary {
	background-color: #b5838d;
	border-radius: 10px;
	border: none;
}

.btn-primary:hover {
	background-color: #e5989b;
}

/* DEN OPTIONS */
input.form-control,
input.form-control:focus,
select.form-control,
select.form-control:focus,
textarea.form-control,
textarea.form-control:focus {
	background-color: #22223bd1;
	border: none;
	color: #ededed;
	border-radius: 100px;
}

.custom-control hr {
	display: none;
}

select.form-control[multiple],
select.form-control[size],
textarea.form-control {
	border-radius: 0 0 0 20px !important;
}

.bg-bar-input {
	background-color: #22223b;
	border: none;
	border-radius: 0 20px 0 0;
}

.btn.btn-htmlinput {
	background-color: #4a4e69;
	border: none;
}

.btn-danger {
	background-color: #a6808c;
	border: none;
}

.text-td-bottom {
	color: #ededed;
}

.text-center.mt-4 .btn.btn-success.btn-lg {
	background-color: #8d7989;
}

.btn-info {
	color: #ededed !important;
	background-color: #4a4e69;
	border: none !important;
	border-radius: 10px;
}

.card-header:first-child {
	border: none;
	background: none;
}

.btn-warning {
	border-radius: 10px;
	background-color: #95b1d5;
	border: none;
}

p.text-center i {
	color: #ededed !important;
}

.justify-content-center {
	background-color: #0d1b2a87;
}

#footer {
	background: none;
}

span.copyright a {
	color: #ededed !important;
}

#footer nav .nav-item .nav-link {
	color: #ededed;
}

/* HOTLINKS */
@media (min-width: 1090px) {
	.hotlink {
		background-color: rgba(45, 75, 160, 0.4) !important;
		border: 1px solid rgb(205, 245, 255)!important;
		box-shadow: 0 0 5px rgb(90, 190, 250) !important;
		color: rgb(205, 245, 255)!important;
		padding: 5px!important;
		position: fixed!important;
		text-align: center!important;
		border-radius: 5px 5px 5px 0px!important;
		left: 0px!important;
		bottom: 0px!important;
		width: 160px!important;
		height: 35px!important;
		transition: 0.5s!important;
		z-index: 1;
	}

	.hotlink:hover {
		height: 220px!important;
	}
}

@media (max-width: 1090px) {
	.hotlink {
		display: none!important;
	}
}

/* ---------- HTML CSS (TOP BOXES) ---------- */
h6.box-title {
	color: #11202d !important;
}

.cont {
	position: relative;
	height: 300px;
	max-height: 300px
}

.bxx1 {
	right: 51%
}
.bxx2 {
	left: 51%
}

.bxx1,
.bxx2 {
	position: absolute;
	width: calc(49% - 40px);
	height: calc(100% - 80px);
	top: 40px;
	margin: auto;
	padding: 15px;
	line-height: 15px
}
.bxx1::before {
	width: 125px;
	left: -40px;
	top: -20px;
	border-top: 1px solid #000
}
.bxx1::after {
	height: 125px;
	left: -20px;
	top: -40px;
	border-left: 1px solid #000
}
.bxx1::before,
.bxx1::after {
	position: absolute;
	content: "";
	border-color: inherit!important
}
.bxx2::before {
	width: 125px;
	right: -40px;
	bottom: -20px;
	border-top: 1px solid #000
}
.bxx2::after {
	height: 125px;
	right: -20px;
	bottom: -40px;
	border-left: 1px solid #000
}
.bxx2::before,
.bxx2::after {
	position: absolute;
	content: "";
	border-color: inherit!important
}
.bxx1::before,
.bxx1::after,
.bxx2::before,
.bxx2::after {
	transition: .5s ease
}
.bxx1:hover::before {
	left: -20px
}
.bxx1:hover::after {
	top: -20px
}
.bxx2:hover::before {
	right: -20px
}
.bxx2:hover::after {
	bottom: -20px
}
.cntrmoon {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(50% - 90px);
	width: 170px;
	height: 180px
}
.cntrmoon img {
	clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
	width: 100%;
	height: 100%;
	object-fit: cover
}
@media only screen and (max-width: 992px) {
	.cntrmoon {
		display: none
	}
	.cntnr,
	.cntnr2 {
		width: 100%!important
	}
}
.cntnr {
	padding-left: 15px
}
.cntnrcntnt {
	direction: ltr;
	width: 100%!important;
	float: left
}
.flp {
	direction: rtl
}
.cntnr2 {
	padding-right: 15px;
	float: right;
	text-align: right
}
.cntnr,
.cntnr2 {
	height: 100%;
	width: 75%;
	overflow-y: auto
}
.cntnr::-webkit-scrollbar,
.cntnr2::-webkit-scrollbar {
	width: 5px
}
.cntnr::-webkit-scrollbar-track,
.cntnr2::-webkit-scrollbar-track {
	border: 1px solid lightgray
}
.cntnr::-webkit-scrollbar-thumb,
.cntnr2::-webkit-scrollbar-thumb {
	background: lightgray
}
.quot {
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	max-width: 140px;
	transition: .5s ease;
	opacity: 0;
	padding: 5px 10px
}
.cntrmoon:hover .quot {
	opacity: 1;
	bottom: -5px
}
.cont p {
	margin-bottom: 5px!important
}
.cont p:last-of-type {
	margin-bottom: 0!important
}
.cont h6 {
	margin-bottom: 10px!important
}

/* General container */
.cont {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

/* Box 1 */
.bxx1 {
	font: 11px Consolas;
	border: 3px double #b6dbee78;
	background: #91b0c6;
	padding: 10px;
}

/* Box 2 */
.bxx2 {
	font: 11px Consolas;
	border: 3px double #b6dbee78;
	background: #91b0c6;
	padding: 10px;
}

/* Shared header style */
.box-title {
	color: #D89667;
	font: 31px 'Brafesuit';
	margin: 0 0 10px 0;
}


.cntrmoon img {
	max-width: 100%;
	display: block;
}

/* Caption */
.quot {
	border: 1px solid #000;
	font: 11px Consolas;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.75);
	margin-top: 5px;
	padding: 5px;
}
/* SNOW */
.snow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url("https://i.postimg.cc/XJk5VZJH/vecteezy-falling-snowflakes-loop-animation-motion-graphics-winter-cold-55787329-ezgif-com-video-to-w.webp") repeat;
	background-size: cover;
	opacity: .25;
	mix-blend-mode: screen;
	animation: drift 120s linear infinite;
	/* slow drifting */
	z-index: 999;
}

/* HTML TEXT */
/*<div class="snow"></div>
<div class="text-break" id="fraDenHTML">
<div class="hotlink"><h4>Quick Links</h4><a href="https://www.wolvden.com/explore">Explore</a><br>
<a href="https://www.wolvden.com/hunting">Hunting</a><br>
<a href="https://www.wolvden.com/herbalist">Herbalist</a><br>
<a href="https://www.wolvden.com/games">Games</a><br>
<a href="https://www.wolvden.com/questing">Questing</a><br>
<a href="https://www.wolvden.com/enclave">Enclave</a><br>
<a href="https://www.wolvden.com/trading-center">Trading Center</a><br>
<a href="https://www.wolvden.com/custom-decors">Custom Decors</a></div><br>
</div>
    <div class="biography-box">
 <div class="cont">

  <!-- First box -->
  <div class="bxx1">
    <div class="cntnr flp">
      <div class="cntnrcntnt">
        <h6 class="box-title"> short title here... </h6>
        <p>This is a paragraph. Feel free to add more content. Remember to wrap chunks of text in paragraphs.</p>
      </div>
    </div>
  </div>

  <!-- Second box -->
  <div class="bxx2">
    <div class="cntnr2">
      <h6 class="box-title"> ...short title here </h6>
      <p>This is a paragraph. Feel free to add more content. Remember to wrap chunks of text in paragraphs.</p>
    </div>
  </div>

  <!-- Moon with caption -->
  <div class="cntrmoon">
    <img src="https://i.postimg.cc/PrPC7VmF/bf8dv8.png" alt="">
  </div>

</div>
<!-- END OF BOX CODE -->

<!-- BEGINNING OF LAYOUT CODE -->
<div class="col-4 ml-3 mt-3 p-0" style="border:0px dashed lightgray;float:left;text-align:center;">
 
<!-- ⇓ Here you can put a wolf headshot, artwork, whatever. -->
<img src="https://files.catbox.moe/w9wjof.png">
 
<p class="mt-4 mb-4 p-1" style="text-align:center; border-top:3px double #778DA9; border-bottom:3px double #778DA9; font-family:Cambria;">
<span style="font-size:20px; color:#e0e1dd;">◆</span><br>
<!-- A side quote can go here. -->
<span style="font-size:12px; color:#778DA9;"><i>This is a side quote. You could rattle the stars. You could do anything, if only you dared. And deep down, you know it, too. That's what scares you most.</i></span>
<br><span style="font-size:20px; color:#e0e1dd;">◆</span>
</p>
 
<!-- ⇓ Random Wolvden items pertaining to your subject go here. Or, well, other things, like more artwork! -->
<img src="https://static.wolvden.com/images/items/trophies/pelt_lynx.png">
<img src="https://static.wolvden.com/images/items/trophies/bearpaw_polar.png">
<img src="https://static.wolvden.com/images/items/trophies/ear_deer.png">
 
<!-- Please leave the credit intact. -->
<p class="mt-2" style="font:10px Consolas; color:#778DA9;"><i> 181677 </i></p>
</div> <div class="col-7 ml-3 mt-3" style="border:0px dashed lightgray;float:left; font: 12px Cambria; text-align:justify; line-height:15px;">
 
<!-- Title header. -->
<h2 class="pl-3 mb-1" style="border-left: 4px solid #eae5d5; color:#11202d; font-family:Century Gothic; font-size: 50px; text-align:left; white-space:nowrap; padding-top: 30px;">
WOAH A HEADER
</h2>
<!-- Subheader here. -->
<p class="pl-4" style="font-size:12px; color:#e0e1dd;"><i>
slightly lengthier subheader here
</i></p>
 
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 
<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
 
<!-- Minor header. Replicate this wherever you want using copy/paste. -->
<p style="border-top:1px dotted #e0e1dd; text-align:left; font:15px Century Gothic; text-align:right; color:#778DA9;">
FANCY SUBHEADER
</p>
 
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
 
<!-- Bulleted list. Replicate this wherever you want using copy/paste, or you can remove this section entirely. -->
<ul style="list-style-image: url(https://static.wolvden.com/images/layout/icons/icon-weather-wind.png);">
<li>this is a list item</li>
<li>feel free to add or remove</li>
<li>bullet points by copy/pasting</li>
<li>or get rid of them entirely</li>
</ul>
 
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
 
</div>
</div>*/
