/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

@font-face {
	font-family: 'Papyrus';
	src: url('https://chef-duck.github.io/ducky/papyrus.ttf') format('truetype');
}

/* CURSOR */
* {
	cursor: url('https://i.postimg.cc/VNd1RZyH/vertopal-com-cursor-15.png'), progress !important;
}

/* BG IMAGE */
body {
	background-image: url('https://i.postimg.cc/PqzrpdNj/55-Night-Attack-Horses-v01.png') !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #780e08;
}

::-webkit-scrollbar-thumb {
	background: #cc2008;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ed5c0c;
}

/* HEADER */
h1 {
	font-family: 'Papyrus';
	font-size: 130px;
	text-align: center;
	text-shadow: -3px 3px 10px #ff2d00;
	color: #fffeee;
}

@media (max-width: 768px) {
	h1 {
		font-size: 90px;
	}
}

/* TEXT */
* {
	font-family: 'Cinzel Decorative';
	font-weight: bold;
}

a {
	font-family: 'Cinzel Decorative';
	transition: text-shadow 0.35s ease;
}

a:hover {
	text-decoration: none;
	text-shadow: 0 0 5px #e4631b,
	0 0 5px #fdcc41,
	0 0 5px #ae1807;
}

/* NAVBAR */
#header.container {
	background: none !important;
}

#header.container .navbar.navbar.navbar-main.navbar-dark.navbar-expand-lg {
	background-color: #121212f0;
	font-family: 'Angel Wish' !important;
}

#header .navbar-main .nav-link {
	font-size: 20px;
	color: #aaa;
	margin-left: 5px;
	transition: color 0.35s ease;
}

#header .navbar-main .nav-link:hover {
	color: #464646 !important;
	text-shadow: none;
}


#header .navbar-main .nav-link .fa {
	display: none;
}

#header.container .navbar.navbar-status.navbar-expand {
	background-color: #121212e8;
	border: none !important;
	font-size: 18px;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
	color: #aaa !important;
}

#header .navbar-status a,
.navbar-text {
	font-weight: bold;
	color: #fffeee;
}

#header .navbar-status a:hover {
	color: #b7a8a8;
}

#header.container .breadcrumb-nav {
	background-color: #121212e3;
	border: none !important;
}

#header .breadcrumb-nav .breadcrumb {
	max-width: 99%;
	margin-left: 5px !important;
}

li.breadcrumb-item a {
	font-size: 16px !important;
	font-weight: bold;
	color: #aaa;
}

.breadcrumb-item.active {
	font-size: 16px !important;
	font-weight: bold;
	color: #fffeee;
}

/* MAIN */
#main {
	background-color: #121212db;
	flex: 1;
	max-width: 100%;
	margin-bottom: -1px;
	padding-bottom: 20px;
	padding-top: 60px;
}

.nav.nav-tabs {
	border: none;
	display: flex !important;
	justify-content: center !important;
	background-color: transparent;
}

.nav-tabs .nav-link {
	border: none;
	color: #d12f19 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: transparent;
	color: #d12f19 !important;
}

i.fas.fa-home.mr-2::before {
	content: "\f7e4";
	font-family: "Font Awesome 5 Free";
	font-size: 25px !important;
	color: #d12f19;
	text-align: center !important;
}

.fa-user:before {
	content: "\f6df";
	font-family: "Font Awesome 5 Free";
	font-size: 25px !important;
	color: #d12f19;
	text-align: center !important;
}

/* ALERTS AND BUTTONS */
.alert-success {
	background-color: #75716699;
	border-radius: 100px;
	border: none;
	padding-bottom: 10px;
	text-align: center;
}

.alert-danger {
	background-color: #3a000036;
	border: dashed 3px #572722;
	border-radius: 100px;
	margin-bottom: 50px;
	padding-bottom: 10px !important;
}

.alert-danger a {
	color: #fffeee !important;
}

.alert-info {
	background-color: #d94c0066;
	text-align: center;
	border: solid 2px #d94c00ba;
	border-radius: 100px;
	padding-bottom: 10px;
	backdrop-filter: blur(25px);
}

.table {
	border: none;
}

/* SIDEBAR */
#sidebar {
	background-color: #121212db;
}

#sidebar .card {
	background-color: #16161694 !important;
	border: solid 3px #d12f19;
	border-radius: 15px;
	box-shadow: 0 0 10px 5px #a61107;
	margin-top: 20px;
	margin-bottom: 35px;
}

#sidebar .card-body b {
	color: #fffeee;
}

#sidebar .card-body span {
	color: #fffeee;
}

#sidebar .card-body h4 {
	color: #fffeee;
	font-weight: bold;
}

p.text-center.mb-0.mt-2 small {
	color: #fffeee;
}

p.m-1 a {
	color: #aaa;
}

h3.mb-3 a {
	color: #fffeee !important;
	font-weight: bold !important;
}

div.card-body img {
	filter: none;
}

div.card-body a {
	color: #aaa;
}

div.mb-3 {
	color: #fffeee;
}

div.d-flex.justify-content-between.mt-1.small span {
	color: #fffeee !important;
}

div.progress {
	background-color: black !important;
}

.bg-warning {
	background-color: #919191 !important;
}

#sidebar .bg-danger {
	background-color: #646464 !important;
}

#sidebar .bg-info {
	background-color: #424242 !important;
}

#sidebar .bg-success {
	background-color: #292929 !important;
}

div.card-body.p-0.py-3 h4.card-title {
	font-size: 15px !important;
}

#chatMessagePinned.s-chat-message__pinned .s-chat-message_content {
	background-color: #bc030300;
}

.s-chat-sidebar #chatMessagePinned.s-chat-message__pinned {
	background-color: #280000bd;
	border: none;
	color: white;
}

input#btnChatSend.btn.btn-primary.btn-sm {
	background-color: #560d06;
	border: none;
}

div.card-body b {
	color: #aaa !important;
}

/* LEAD AND FEATURED */
table.table.table-striped.border-none.mt-3.mb-0 {
	margin-bottom: 20px !important;
	background: none;
}

tr {
	border-radius: 100px !important;
	background: none !important;
}

th.pt-1.pb-1 {
	border-radius: 10px 10px 10px 10px;
	padding-left: 5px;
	font-size: 20px !important;
	color: #fffeee !important;
	background-color: #00000057;
}

@media (max-width: 768px) {
	th.pt-1.pb-1 {
		text-align: center;
	}
}

th.pt-1.pb-1 a {
	color: #aaa;
	font-size: 21px;
}

div.col-xl-3.col-sm-7.text-center .card.mb-3 {
	background: none !important;
	margin-top: 45px !important;
}

img[alt="Wolf Headshot"] {
	border-radius: 100px 0px 100px 100px !important;
	border: double 8px #ff1e004f;
	filter: brightness(75%) grayscale(50%);
	transition: filter 2s ease-in-out;
}

img[alt="Wolf Headshot"]:hover {
	filter: none;
	transition: filter 2s ease-in-out;
}

div.col-xl-3.col-sm-7.text-center .card.mb-3 {
	background: none !important;
}

div.card-body.pt-1.pb-1 {
	display: none;
}

.order-xl-9 {
	background: #31000017;
	backdrop-filter: blur(30px);
	border-radius: 50px;
	font-size: 12px;
	border: solid 3px #400;
	margin-top: 10px;
	padding-top: 20px;
}

.order-xl-9 tr {
	background: none !important;
	color: #fffeee;
}

.order-xl-9 td {
	width: 200px;
	text-align: left;
}

.fa-circle:before {
	color: #bb4102;
}

.order-xl-9 td a {
	color: #d12f19;
}

i.fas.fa-question-circle::before {
	display: none;
}

.order-xl-9 td.b {
	text-align: right
}

th.pt-1.pb-1::before {
	content: "OLO'EYKTAN";
	font-size: 20px !important;
	font-family: 'Cinzel Decorative', sans-serif;
	padding-left: 10px;
}

div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf {
	margin-top: 15px;
}

.featured-wolf img {
	border-radius: 0px 100px 100px 100px;
	border: double 8px #ff1e004f;
	width: 179.75px !important;
	height: 179.75px;
	filter: brightness(75%) grayscale(50%) !important;
	transition: filter 2s ease-in-out !important;
}

.featured-wolf img:hover {
	filter: none!important;
	transition: filter 2s ease-in-out;
}

button.btn.btn-link.btn-sm.text-danger {
	display: none;
}

.featured-wolf::before {
	content: "OLO'EYKTE";
	font-size: 20px;
	color: #fffeee !important;
}

div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf a {
	font-size: 20px;
	color: #aaa;
}

/* DEN CARDS */
div#denCards.form-row .card,
.card-img-top,
a {
	border-radius: 20px !important;
	background: none;
}

div.card-header {
	border-radius: 0 0 20px 20px;
	background: none !important;
	backdrop-filter: none !important;
}


div.card.text-center img {
	filter: grayscale(100%) opacity(100%) brightness(40%);
	border: solid 3px #00000038;
	transition: filter 3s ease-in-out;
}

div.card.text-center img:hover {
	filter: none;
	transition: filter 3s ease-in-out;
	color: #fffeee !important;
}

/* TABLES */
.table thead th {
	background-color: #0000009c;
	border-radius: 20px;
}

.table thead th a.h4 {
	font-size: 25px;
	color: #fffeee;
}

button.collapseCave.btn.btn-info.btn-sm {
	background-color: #430a05;
	border: none;
	border-radius: 100px;
}

tr.font-weight-bold td {
	background: none !important;
}

td.p-0 img {
	border-radius: 100px !important;
	margin-bottom: 10px;
	border: solid 3px #430a05 !important;
	filter: grayscale(60%) opacity(100%) brightness(80%);
}

img.border-bottom.p-2 {
	padding: 0 !important;
}

.table a {
	color: #fffeee !important;
}

.bg-success {
	background-color: #919191 !important;
}

.bg-primary {
	background-color: #646464 !important;
}

.bg-danger {
	background-color: #424242 !important;
}

.bg-info {
	background-color: #292929 !important;
}

/* CARD LISTING */
div.col-4.col-md-2.mb-3 {
	background: none !important;
}

div.card-body.bg-light.p-0.text-center {
	background-color: #410c01d4 !important;
	border: solid 3px #ff00004a !important;
	border-radius: 20px;
	backdrop-filter: blur(10px);
}

div.text-light.bg-dark.d-block.text-truncate.pl-2.pr-2.rounded-top {
	margin-top: 5px;
	background: none !important;
}

div.text-light.bg-dark.d-block.text-truncate.pl-2.pr-2.rounded-top small.b {
	font-size: 14px !important;
	margin-top: 5px !important;
}

div.col-4.col-md-2.mb-3 img.rounded-bottom {
	border-radius: 100px !important;
	border: double 7px #00000075;
	width: 120px;
	height: auto;
	filter: brightness(75%) grayscale(50%) !important;
	transition: filter 2s ease-in-out !important;
}

div.col-4.col-md-2.mb-3 img.rounded-bottom:hover {
	filter: none !important;
	transition: filter 1s ease-in-out !important;
}

td.bottom {
	background: none !important;
}

img.rounded-bottom.pl-3.pr-3.pt-2.pb-1 {
	padding: 0 !important;
	width: 105px !important;
	height: auto;
}

/* CAVE MATES */
select.form-control {
	background-color: #00000045;
	border-radius: 100pc;
	bordeR: none;
}

button.btn.btn-success {
	background-color: #00000091;
	border-radius: 10px;
	border: none;
}

div.card.mb-3 {
	background: none !important;
}

div.card.mb-3 .card-body {
	background-color: #000000b8;
	border-radius: 40px;
}

button#submitBtn.btn.btn-primary {
	background-color: #540701;
	border: none;
	border-radius: 100px;
}

div.col-md-1.col-2.text-center {
	filter: grayscale(200%);
}

hr.flowers {
	background: none;
	content: url('https://i.postimg.cc/v81MpnRk/Wooden-Spear.png');
	width: 650px;
	height: 70px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	filter: grayscale(100%) brightness(60%);
}

@media (max-width: 768px) {
	hr.flowers {
		width: 400px;
		height: 50px !important;
	}
}

/* DEN OPTIONS */
div.floatright.b.mt-2 a {
	color: #fffeee;
}

div.form-group.custom-control.custom-checkbox.mt-2.mb-3 hr {
	display: none;
}

.bg-bar-input {
	background-color: #000000c9;
	border: none !important;
}

.btn.btn-htmlinput {
	background-color: #191919;
	border: none !important;
}

button#btnCleanup.btn.px-2.btn-danger {
	background-color: #8a1705;
	border: none;
}

textarea#txtDenHTML.form-control {
	background-color: #000000a3;
	border: none !important;
}

input#txtCSSFile.form-control.file.search {
	background-color: #0000007d !important;
	border: none;
}

button#btnAddCSSFile.btn.btn-info.h-100 {
	background-color: #790d0575;
	border: none;
}

button#btnPreviewDisplay.btn.btn-info.btn-lg {
	background-color: #4e0500ad;
	border: none;
	border-radius: 10px;
}

.col-md-6 div.card.text-center {
	background: none !important;
}

.col-md-6 div.card.text-center .card-header {
	bordeR: none;
}

.btn-warning {
	background-color: #323232b3;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	color: #fffeee;
}

#footer {
	background-color: #121212e8;
}

/* PROFILE */
h1.mb-1 {
	font-size: 100px;
}

.table th {
	background-color: #130000de;
	border-radius: 20px;
	padding-left: 20px;
}

.table .left {
	background: none;
}

td.left.b {
	text-align: right;
}

.text-success {
	color: #bb4106 !important;
}

td.right.text-right {
	padding-right: 80px !important;
	padding-top: 25px !important;
}

td.right.text-right img {
	border: double 6px #ff00005e;
	border-radius: 30px;
}

div.col-12.col-md-6.mb-2 img {
	border-radius: 100px;
	border: solid 3px #00000047;
}

.group-banner img {
	filter: grayscale(100%);
	border-radius: 10px;
}

div.card-body.text-center.font-weight-bold.p-2 {
	background-color: #2d2d2d;
	color: #fffeee;
}

.form-control-sm {
	background-color: #00000045 !important;
	border-radius: 100px;
	border: none;
}

div.card.bg-light.border {
	border-radius: 30px;
	background-color: #80808042 !important;
}

div#fraHTMLInputBar.bg-bar-input.pt-1.pl-1.pr-1 {
	background-color: #000000c9 !important;
	border: none !important;
}

textarea#txtProfileHTML.form-control {
	background-color: #000000a3;
	border: none !important;
}

/* FIRE AND ASH */
.fire {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url("https://i.postimg.cc/k5yc7sZc/vecteezy-3d-motion-background-with-smokes-68662384-ezgif-com-video-to-gif-converter.gif") repeat;
	background-size: cover;
	opacity: .75;
	mix-blend-mode: overlay;
	animation: drift 120s linear infinite;
	/* slow drifting */
	z-index: -1;
}

.ash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url("https://i.postimg.cc/k5nbnmWV/medium-vecteezy-looping-gray-smoke-fog-and-dust-mysterious-effect-2154252-medium-ezgif-com-video-to.gif") repeat;
	background-size: cover;
	opacity: .50;
	animation: drift 120s linear infinite;
	/* slow drifting */
	z-index: -1;
}

/* HTML */
/*<div class="fire"></div>*/
/*<div class="ash"></div>*/
