/* FONTS */
	@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

	@font-face {
		font-family: 'Swordskull';
		src: url('https://veratuesday.github.io/VeraTuesday/Swordskull PERSONAL USE.ttf') format('truetype');
	}

	/* CURSOR */
	* {
		cursor: url('https://veratuesday.github.io/VeraTuesday/purpleorb.cur'), auto !important;
	}

	/* BG IMAGE */
	body {
		background-image: url('https://i.postimg.cc/mDhybX3M/medium-vecteezy-flickering-dark-horror-background-2019230-medium-ezgif-com-video-to-gif-converter.gif') !important;
		background-size: cover;
	}

	/* SCROLLBAR */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #000;
	}

	::-webkit-scrollbar-thumb {
		background: #422251;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #685693;
	}

	/* HEADER */
	h1 {
		font-family: 'Swordskull';
		font-size: 140px;
		text-align: center;
		text-shadow: 0px 0px 8px #cc91ee;
		color: #000;
		padding-top: 20px;
		z-index: -1 !important;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 125px;
		}
	}

	/* TEXT */
	* {
		font-family: 'Grenze Gotisch';
	}

	a {
		font-family: 'Grenze Gotisch';
		transition: text-shadow 0.35s ease;
	}

	a:hover {
		text-decoration: none;
		text-shadow: 0 0 5px #c1b2d794,
		0 0 5px #c1b2d794,
		0 0 5px #c1b2d794;
	}

	/* NAVBAR */
	#header.container {
		background-color: transparent;
		background-image: linear-gradient(to bottom, #070522e0, #000004ed, #000000f0);
		backdrop-filter: blur(20px);
	}

	#header.container .navbar.navbar.navbar-main.navbar-dark.navbar-expand-lg {
		background: none;
	}

	#header .navbar-main .nav-link {
		font-family: 'Grenze Gotisch' !important;
		font-size: 34px;
		font-weight: lighter;
		color: #a5a1ae;
		transition: 1s ease;
	}

	#header .navbar-main .nav-link:hover {
		color: #f3eaff !important;
		text-shadow: 0px 0px 5px #eed0ff;
	}


	#header .navbar-main .nav-link .fa {
		display: none;
	}

	#header.container .navbar.navbar-status.navbar-expand {
		background-color: transparent;
		border: none !important;
		font-size: 18px;
	}

	.btn-group-vertical > .btn,
	.btn-group > .btn {
		font-size: 16px;
		padding: 5px !important;
	}

	#header .navbar-status a,
	.navbar-text {
		font-weight: bold;
		color: #c8c3d9;
	}

	#header .navbar-status a:hover {
		color: #fff;
	}

	button.btn.dropdown-toggle.border-0.text-light.b.m-0.p-0 {
		color: #93869d !important;
	}

	.icon-beetle-silver,
	.icon-silver-cone {
		filter: grayscale(50%);
	}

	.icon-beetle-gold,
	.icon-gold-cone {
		filter: grayscale(50%);
	}

	#header.container .breadcrumb-nav {
		background-color: transparent;
		border: none !important;
		border-radius: 0 0 10px 10px;
	}

	#header .breadcrumb-nav .breadcrumb {
		max-width: 99%;
		margin-left: 5px !important;
	}

	li.breadcrumb-item a {
		font-size: 16px !important;
		font-weight: bold;
		color: #c8c3d9;
	}

	.breadcrumb-item.active {
		font-size: 16px !important;
		font-weight: bold;
		color: #93869d;
	}

	.breadcrumb.col-lg-9.ml-auto.text-break::after {
		content: "CSS by #181677";
		color: #aa94ff4f;
		font-size: 18px !important;
		position: absolute;
		right: 4%;
		z-index: 100;
	}

	@media (max-width: 768px) {
		.breadcrumb.col-lg-9.ml-auto.text-break::after {
			right: 8%;
		}
	}

	i#bookmarkPage.fas.fa-bookmark.text-danger::before {
		color: #530080;
	}

	/* MAIN */
	div#main.col-lg-9.order-lg-2 {
		z-index: -1 !important;
	}

	#main {
		background-color: rgba(0, 0, 0, .82);
		background-image: linear-gradient(to bottom, #000000f0, #000004ed, #040213e0) !important;
	}

	.nav.nav-tabs {
		border: none;
		display: flex !important;
		justify-content: center !important;
		background-color: transparent;
		font-size: 25px;
	}

	.nav-tabs .nav-link {
		border: none;
		color: #a5a1ae;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		background-color: transparent;
		font-size: 25px;
		color: #a5a1ae;
	}

	i.fas.fa-home.mr-2::before {
		content: none;
	}

	.fa-user:before {
		content: none;
	}

	button.btn.btn-warning.btn-spoiler {
		background-color: #c4bde24d;
		border: solid 2px #c4bde24d;
		border-radius: 5px !important;
		color: #ffffffc4;
	}

	button.btn.btn-warning.btn-spoiler.active {
		background-color: #e7e2ff73;
		border: solid 2px #e7e2ff73;
	}

	/* ALERTS AND BUTTONS */
	.alert-success {
		background-color: #7697a866;
		background-image: radial-gradient(circle, #21384473, #7697a866, #2138447d);
		border-radius: 100px;
		border: none;
		padding-bottom: 10px;
		text-align: center;
		backdrop-filter: blur(25px);
		z-index: -1;
	}

	.alert-danger {
		background-color: #aa94ff1a;
		border: none;
		border-radius: 100px;
		margin-bottom: 50px;
		padding-bottom: 10px !important;
	}

	.alert-danger a {
		color: #f7faf0 !important;
	}

	.alert-info {
		background-color: #3333351a;
		background-image: radial-gradient(circle, #1e1e1ef0, #33333552, #3333351a);
		text-align: center;
		border: none;
		border-radius: 100px;
		padding-bottom: 10px;
		backdrop-filter: blur(25px);
		z-index: -1;
	}

	.table {
		border: none;
	}

	/* SIDEBAR */
	#sidebar {
		background-color: transparent;
		backdrop-filter: blur(20px);
		background-image: linear-gradient(to bottom, #000000f0, #000004ed, #040213e0);
	}

	#sidebar div.card {
		background: none;
		border: none;
	}

	#sidebar div.card-body {
		background-color: #000000f0;
		border: solid 2px #cd89ff17;
		border-radius: 10px;
		backdrop-filter: blur(10px);
		margin-top: 20px;
		margin-left: 5px;
		padding-left: 16px !important;
	}

	#sidebar div.card-body b {
		color: #c8c3d9;
	}

	#sidebar div.card-body span {
		color: #93869d;
	}

	#sidebar div.card-body h4 {
		color: #c8c3d9;
	}

	#sidebar div.card-body div small {
		color: #93869d;
	}

	#sidebar div.card-body p.text-center.mb-0.mt-2 small {
		color: #c8c3d9;
	}

	#sidebar div.card-body p.m-1 a {
		color: #93869d;
	}

	#sidebar div.card-body h3.mb-3 {
		color: #c8c3d9;
	}

	#sidebar div.card-body h3.mb-3 a {
		color: #c8c3d9;
	}

	#sidebar div.card-body a {
		color: #c8c3d9;
	}

	#sidebar div.card-body div.d-flex.justify-content-between.mt-1.small span {
		color: #c8c3d9;
	}

	#sidebar div.card-body li a {
		color: #93869d;
	}

	#sidebar div.card-body h4.card-title small a {
		color: #93869d;
	}

	#sidebar div.card-body a b {
		color: #93869d;
	}

	.progress {
		background-color: #020c0e00 !important;
		border-radius: 100px !important;
	}

	#sidebar {
		background-color: #0b0b0b;
		z-index: 0;
		padding-left: 0;
	}

	#sidebar::before {
		content: "";
		display: inline-block;
		background-image: url('https://i.postimg.cc/VsSVmLs8/marble-column-2-1851652-2.png') !important;
		width: 255px;
		height: 100%;
		background-size: contain;
		position: absolute;
		filter: opacity(100%) contrast(105%);
		mix-blend-mode: screen;
		z-index: -1;
	}

	@media (max-width: 768px) {
		#sidebar::before {
			width: 520px !important;
			margin-top: 0;
			padding-left: 15px;
			opacity: 50%;
		}
	}

	.progress {
		background-color: transparent;
	}

	#sidebar .bg-warning {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #cdd9f5, #02000000);
	}

	#sidebar .bg-danger {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #707ba2, #02000000);
	}

	#sidebar .bg-info {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #384675, #02000000);
	}

	#sidebar .bg-success {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #241943, #02000000);
	}

	button.btn.btn-danger.mb-3 {
		background-color: #543167e3;
		border: none;
		border-radius: 10px;
	}

	/* LEAD AND FEATURED */
	table.table.table-striped.border-none.mt-3.mb-0 tr {
		background-color: #1f1f1f00 !important;
		border-radius: 30px;
	}

	table.table.table-striped.border-none.mt-3.mb-0 tr {
		background: none;
	}

	th.pt-1.pb-1 {
		border-radius: 30px 30px 0 0;
		background-color: #16161600 !important;
		padding-top: 10px !important;
		padding-left: 0px !important;
		text-align: left;
	}

	th.pt-1.pb-1 a {
		font-size: 25px !important;
		color: #93869d;
	}

	div.card.mb-3 img {
		border-radius: 100px;
		z-index: 2 !important;
		border: none;
	}

	div.card.mb-3 {
		background: none !important;
		margin-top: -10px !important;
	}

	th.pt-1.pb-1::before {
		content: "Dominus";
		font-size: 30px !important;
		font-family: 'Grenze Gotisch', sans-serif;
		font-weight: lighter;
		padding: 5px;
		color: #c8c3d9 !important;
	}

	@media (max-width: 768px) {
		th.pt-1.pb-1 {
			text-align: center;
		}
	}

	div.card-body.pt-1.pb-1 {
		display: none;
	}

	#main .table .card.mb-3 a:before {
		content: '';
		background-image: url('https://i.postimg.cc/0QXCM3vW/marble-column-2-1851652-3.png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		display: inline-block;
		width: 210px;
		height: 700px;
		top: -9%;
		left: -9%;
		position: absolute;
		pointer-events: none;
		z-index: 3 !important;
		mix-blend-mode: screen;
		opacity: 100%;
		filter: grayscale(100%);
	}

	@media (max-width: 768px) {
		#main .table .card.mb-3 a:before {
			top: -8%;
			left: -8%;
			width: 230px;
			height: 700px;
			position: absolute;
		}
	}

	.order-xl-9 {
		max-width: 420px;
		backdrop-filter: blur(30px);
		border-radius: 15px;
		margin-top: -10px;
		margin-bottom: 50px;
	}

	@media (max-width: 768px) {
		.order-xl-9 {
			margin-top: 20px;
		}
	}

	rder-xl-9 table.striped tbody tr {
		background: none !important;
	}

	.order-xl-9 table.striped tbody td {
		text-align: center;
	}

	.order-xl-9 table.striped tbody td.b {
		text-align: right;
		width: 155px;
	}

	i.fas.fa-circle {
		color: #a1addc;
	}

	.order-xl-9 table.striped a {
		color: #93869d;
		transition: color 1s ease-in-out;
	}



	i.fas.fa-question-circle {
		display: none;
	}

	button.btn.btn-link.btn-sm.text-danger {
		display: none;
	}

	div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf {
		margin-top: -55px;
	}

	@media (max-width: 768px) {
		div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf {
			margin-top: 50px;
			margin-bottom: 10px
		}
	}

	.featured-wolf img {
		width: 200px !important;
		border-radius: 100px;
		border: none;
		margin-bottom: 20px;
	}

	.featured-wolf::before {
		content: "Umbros";
		font-size: 30px;
		color: #c8c3d9;
	}

	.featured-wolf a {
		font-size: 30px;
		color: #93869d !important;
	}

	#main .featured-wolf a:first-of-type:before {
		z-index: 1;
		content: '';
		background-image: url('https://i.postimg.cc/0QXCM3vW/marble-column-2-1851652-3.png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		display: inline-block;
		width: 210px;
		height: 600px;
		top: 10%;
		left: -0%;
		position: absolute;
		pointer-events: none;
		mix-blend-mode: screen;
		opacity: 100%;
		filter: grayscale(100%);
	}

	@media (max-width: 768px) {
		#main .featured-wolf a:first-of-type:before {
			top: 9%;
			left: 27%;
			width: 230px;
			height: 600px;
			position: absolute;
		}
	}

	/* DEN CARDS */
	#denCards .card {
		background: none;
		border-radius: 200px !important;
	}

	#denCards .card-header {
		background: none;
		backdrop-filter: none;
		border: none;
	}

	#denCards .card-header b {
		font-family: 'Swordskull' !important;
		font-weight: lighter !important;
		font-size: 40px;
		text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	}

	@media (max-width: 768px) {
		div#denCards.form-row {
			display: grid !important;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			margin: 0 auto;
			gap: 5px !important;
		}
	}


	@media (max-width: 768px) {

		.col-6 {
			max-width: 100% !important;
		}
	}

	@media (max-width: 768px) {

		#denCards .card {
			height: 110px;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-img-top {
			border-radius: 10px !important;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-header b {
			font-size: 25px !important;
		}
	}


	img[src$="packdynasty.png"] {
		content: url('https://i.postimg.cc/PrL9zg6m/1-1.gif')!important;
		border-radius: 10px;
		height: 200px;
	}

	img[src$="packoverview.png"] {
		content: url('https://i.postimg.cc/026FdTtw/2-1.gif')!important;
		border-radius: 10px;
		height: 200px;
	}

	img[src$="breeding.png"] {
		content: url('https://i.postimg.cc/7YCdMFBx/3-1.gif')!important;
		border-radius: 10px;
		height: 200px;
	}

	img[src$="pupsitting.png"] {
		content: url('https://i.postimg.cc/SQ1H9SGS/1-2.gif')!important;
		border-radius: 10px;
		height: 200px;
	}

	img[src$="nesting.png"] {
		content: url('https://i.postimg.cc/CLZXH3vZ/2-2.gif')!important;
		border-radius: 10px;
		height: 200px;
	}

	img[src$="socializing.png"] {
		content: url('https://i.postimg.cc/1R7bFmrB/3-2.gif')!important;
		border-radius: 10px;
		height: 200px;
	}

	/* CARD LISTING */
	form table.table.table-striped {
		background-color: transparent !important;
		background-image: radial-gradient(circle, #777272cf, #7772727d, #7772724a, #77727208, #77727200);
		border-radius: 20px;
	}

	table.table.table-striped thead tr th.top {
		background-color: transparent !important;
		text-align: center;
	}

	table.table.table-striped thead tr th.top a.h4 {
		font-size: 40px;
		color: #c8c3d9;
	}

	table.table.table-striped tbody tr {
		background-color: transparent !important;
	}

	button.collapseCave.btn.btn-info.btn-sm {
		background-color: transparent;
		border: none;
		margin-top: 10px;
	}

	.bg-light {
		background-color: #02000b80 !important;
		border: solid 2px #78758680;
		border-radius: 10px;
	}

	.text-truncate {
		background: none !important;
	}

	.text-truncate small.b {
		font-size: 16px;
		color: #93869d;
	}

	.rounded-bottom {
		border-radius: 100px !important;
		width: 110px;
	}

	.pl-3,
	.px-3 {
		padding: 0 !important;
		width: 100px;
	}

	td.bottom {
		background: none !important;
	}

	.form-control {
		background-color: #80808033 !important;
		border: none;
		border-radius: 100px;
	}

	button.btn.btn-success {
		background-color: #8080808f;
		border: none;
		border-radius: 10px;
	}

	/* STANDARD LISTING */
	.table .subheader {
		background: none !important;
	}

	table.table.table-striped tbody tr:nth-of-type(odd) {
		background-color: #000000bd !important;
	}

	table.table.table-striped tbody tr:nth-of-type(even) {
		background-color: #0000005c !important;
	}

	td.p-0 img {
		border-radius: 100px;
		margin: 3px;
	}

	div.text-break a {
		color: #93869d;
	}

	.bg-warning {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #cdd9f5, #e5edff, #cdd9f5);
	}

	.bg-success {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #cdd9f5, #e5edff, #cdd9f5);
	}

	.bg-primary {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #707ba2, #92a0d2, #707ba2);
	}

	.bg-danger {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #384675, #4f619f, #384675);
	}

	.bg-info {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #241943, #40306e, #241943);
	}

	/* CAVE MATS */
	div.card.mb-3 div.card-body {
		background-color: #42454a1a;
		border: solid 3px #42454a1a;
		border-radius: 20px;
	}

	button#submitBtn.btn.btn-primary {
		background-color: #80808059;
		bordeR: none;
		border-radius: 10px;
	}

	.col-md-1 img {
		filter: grayscale(80%);
	}

	hr.flowers {
		background: none;
		content: url('https://i.postimg.cc/pTqfPM9p/New-Project-11.png');
		width: 800px;
		height: 140px !important;
		mix-blend-mode: screen;
		opacity: 25%;
	}

	@media (max-width: 768px) {
		hr.flowers {
			width: 475px;
			height: 75px !important;
		}
	}

	/* DEN OPTIONS */
	.bg-bar-input {
		background-color: #80808024;
	}

	.btn.btn-htmlinput {
		background-color: #80808038;
		border: none;
	}

	textarea#txtDenHTML.form-control {
		border: none;
		border-radius: 0 !important;
	}

	.btn-info {
		background-color: #808080e3;
		border-radius: 10px;
	}

	.btn-info:hover {
		background-color: gray;
	}

	.col-md-6 div.card.text-center {
		background: none !important;
	}

	.col-md-6 div.card.text-center div.card-header {
		border: none;
		background: none;
	}

	.btn-warning {
		background-color: #291e30;
		border: none;
		border-radius: 100px;
		color: #fff;
	}

	.btn-warning:hover {
		background-color: #635a6c;
		color: white;
	}

	#footer.container {
		background-color: #040213e0;
		backdrop-filter: blur(20px);
		border-radius: 0 0 20px 20px;
	}

	/* PROFILE */
	h1.mb-1 {
		font-size: 100px;
		text-shadow: 0px 0px 3px #cc91ee;
	}

	@media (max-width: 768px) {
		h1.mb-1 {
			font-size: 50px;
		}
	}

	button.btn.btn-danger.float-right {
		background-color: #543167e3;
		border: none;
		border-radius: 10px;
	}

	table.table.mt-3 th.top {
		background: none;
		font-size: 40px;
		text-align: center;
		color: #c8c3d9;
	}

	td.left.b {
		background: none;
		text-align: right;
		width: 100px !important;
	}

	td.right a {
		color: #93869d;
	}

	td.right span.text-success {
		color: #c8c3d9 !important;
	}

	img.user-tag {
		border-radius: 10px;
	}

	table.table th.top {
		background: none;
		font-size: 40px;
		text-align: center;
		color: #c8c3d9;
	}

	table.table th.top a {
		font-size: 20px;
		color: #93869d;
	}

	img.float-left.mr-2 {
		border-radius: 100px;
	}

	table.table th {
		background: none;
		font-size: 40px;
		text-align: center;
		color: #c8c3d9;
	}

	.group-banner img {
		border-radius: 10px;
	}

	.font-weight-bold {
		background-color: #080310;
	}

	textarea#txtProfileHTML.form-control {
		border: none;
		border-radius: 0;
	}
