/* FONTS */
@font-face {
	font-family: 'Ice Caps';
	src: url('https://veratuesday.github.io/VeraTuesday/IceCaps-7rLD.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Plymouthrock';
	src: url('https://veratuesday.github.io/VeraTuesday/PlymouthrockSnowdusted-8aXA.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brafesuit';
	src: url('https://veratuesday.github.io/VeraTuesday/Brafesuit.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'French Notez';
	src: url('https://veratuesday.github.io/VeraTuesday/French Notez.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* BACKGROUND IMAGE */
body {
	background-image: url('https://i.postimg.cc/x8GCcXQX/cb0av60o00s61.jpg') !important;
	background-position: center center;
	background-size: cover;
}

/* CURSOR */
/* HEADER */
h1 {
	font-family: 'Plymouthrock';
	font-size: 90px;
	text-align: center;
	color: #c5deff;
	text-shadow: 0 0 5px #dbffff82, /* Small, tight shadow for the inner glow */
	0 0 5px #dbffff33, /* Slightly larger shadow for a wider glow */
	0 0 20px #dbffff70;
	/* Even larger shadow for the outer diffusion */
}

/* TEXT */
* {
	font-family: 'French Notez';
	color: #e0e1dd;
}

a {
	font-family: 'French Notez';
	color: #e0e1dd;
	transition: text-shadow 0.3s ease;
}

a:hover {
	text-shadow: 0 0 10px #9be2ff, /* Green glow */
	0 0 20px #9be2ff,
	0 0 30px #9be2ff;
}

/* NAVBAR */
#header.container {
	background: none !important;
}

#header.container .navbar.navbar-main.navbar-dark.navbar-expand-lg {
	background-color: #0d1b2a8c;
	border: none !important;
}

#header .navbar-main .nav-link {
	color: #e0e1dd;
}

#header .navbar-main .nav-link .fa {
	color: #c5deff;
}

#header.container .navbar.navbar-status.navbar-expand {
	background-color: #1b263b8a;
	border: none !important;
}

#header.container .breadcrumb-nav {
	background-color: #415a779e;
	border: none !important;
}

li.breadcrumb-item a {
	color: #c5deff;
}

.breadcrumb-item.active {
	color: #e0e1dd;
}

.breadcrumb.col-lg-9.ml-auto.text-break::after {
	content: "CSS by #181677";
	color: #b4d5ffd1;
	font-size: 14px !important;
	position: absolute;
	right: 6%;
	z-index: 100;
}



/* MAIN */
#main {
	background-color: #778da966;
	flex: 1;
	max-width: 100%;
	margin-bottom: -1px;
	padding-bottom: 20px;
	padding-top: 60px;
}



.nav.nav-tabs {
	border: none;
	display: flex !important;
	justify-content: center !important;
	background-color: transparent;
	font-size: 0;
}

.nav-tabs .nav-link {
	border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: transparent;
	font-size: 0;
}

i.fas.fa-home.mr-2::before {
	content: "\f2dc";
	font-family: "Font Awesome 5 Free";
	font-size: 30px !important;
	color: #ededed;
	text-align: center !important;
}

.fa-user:before {
	content: "\f1b0";
	font-family: "Font Awesome 5 Free";
	font-size: 30px !important;
	color: #ededed;
	text-align: center !important;
}

img {
	filter: grayscale(60%) !important;
}

/* SIDEBAR */
#sidebar {
	display: none !important;
}

/* ALERTS AND BUTTONS */
.alert-success {
	background-color: #4a4e69a6;
	border-radius: 100px;
	border: none;
	padding-bottom: 10px;
	text-align: center;
	backdrop-filter: blur(25px);
}

.alert-danger {
	background: none;
	border: dotted 3px #e5989b;
	border-radius: 100px;
	margin-bottom: 50px;
	padding-bottom: 10px !important;
}

.alert-danger a {
	color: #e0e1dd !important;
}

.alert-info {
	background-color: #ccb7ae63;
	text-align: center;
	border: none;
	border-radius: 100px;
	padding-bottom: 10px;
	backdrop-filter: blur(25px);
}

.table {
	border: none;
}

/* LEAD AND FEATURED WOLF */
th.pt-1.pb-1 {
	background-color: #22223bc4;
	font-size: 30px !important;
	border-radius: 10px;
	padding: 40px;
	backdrop-filter: blur(5px);
}

tr {
	background: none !important;
	border: none;
}

td.row {
	background-color: #52d6e400;
	padding-bottom: 30px;
}

td a {
	color: #d2d2df;
}

.fa-circle:before {
	color: #a3ffdd;
}

div.col-xl-3.col-sm-7.text-center {
	margin-top: 30px !important;
	background-color: transparent !important;
	padding: 0 !important;
}

.border-none .card-img-top,
.table .form-row img {
	border-radius: 80px;
	border: solid 4px #ededed;
}

div.card.mb-3 a {
	opacity: 85%;
}

div.card.mb-3 a:hover {
	opacity: 100%;
	transition: opacity 0.5s ease-in-out;
}

.border-none .card {
	background-color: transparent !important;
}

.card-body.pt-1.pb-1 {
	display: none;
}

.table th a {
	color: #d2d2df;
}

.col-xl-3 {
	max-width: 100% !important;
}

.featured-wolf img {
	width: 180px !important;
	height: 180px !important;
	border-radius: 100px;
	border: solid 4px #ededed;
	opacity: 85%;
}

.featured-wolf img:hover {
	opacity: 100%;
	transition: opacity 0.5s ease-in-out;
}

#lblFeaturedWolfTitle {
	font-size: 25px;
	color: #ededed;
	font-weight: lighter;
}

.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf a {
	font-size: 20px;
	color: #d2d2df;
}

.btn-group-sm > .btn,
.btn-sm {
	display: none;
}

.col-xl-6 {
	padding-top: 20px;
}

td.b {
	text-align: right !important;
}

.col-xl-6.col-sm-12.order-xl-9.order-12 td {
	text-align: center;
}

table.striped {
	background-color: #867f9191;
	border-radius: 15px;
	backdrop-filter: blur(100px);
}

/* DEN CARDS */
/* DYNASTY: OPHIUCHUS
OVERVIEW: ORION FAMILY
BREEDING: VIRGO
PUPSITTING: URSA MINOR
NESTING: URSA MAJOR
SOCIALIZING: CYGNUS */
#denCards .card {
	background-color: transparent;
	backdrop-filter: blur(2px);
	border-radius: 150px !important;
}

div#denCards.form-row img.card-img-top {
	height: 220px;
	transition: opacity 0.35s ease-in-out;
	filter: none !important;
}

#denCards .card-header {
	background: none;
	backdrop-filter: none;
	border: none;
	font-size: 25px;
	font-weight: lighter !important;
}

img[src$="packdynasty.png"] {
	content: url('https://i.postimg.cc/VLjpzRzF/ophiuchus-cons.jpg')!important;
	border-radius: 150px;
	opacity: 0.7;
}

img[src$="packoverview.png"] {
	content: url('https://i.postimg.cc/SN0H05bs/orion-cons.jpg')!important;
	border-radius: 150px;
	opacity: 0.7;
}

img[src$="breeding.png"] {
	content: url('https://i.postimg.cc/6qZS2Vnt/virgo-cons.jpg')!important;
	border-radius: 150px;
	opacity: 0.7;
}

img[src$="pupsitting.png"] {
	content: url('https://i.postimg.cc/MZfgFw4N/ursaminor-cons.jpg')!important;
	border-radius: 150px;
	opacity: 0.7;
}

img[src$="nesting.png"] {
	content: url('https://i.postimg.cc/ZR225s9w/ursamajor-con.jpg')!important;
	border-radius: 150px;
	opacity: 0.7;
}

img[src$="socializing.png"] {
	content: url('https://i.postimg.cc/0Qbhx1N6/cygnus-cons.jpg')!important;
	border-radius: 150px;
	opacity: 0.7;
}

/* TABLE ROWS */
th.top {
	border-radius: 15px !important;
	background-color: #0d1b2ade;
	color: #c5deff;
	font-weight: bold !important;
	font-size: 30px;
	text-align: center;
	backdrop-filter: blur(10px);
}

th.top a {
	font-size: 15px;
}

td a {
	color: #c5deff;
}

tr.subheader.font-weight-bold {
	background: none !important;
	color: #fff;
}

form .table.table-striped {
	backdrop-filter: blur(200px);
	border-radius: 15px !important;
	color: #fff;
	margin-top: 60px;
}

.table td.bottom {
	background-color: #0d1b2ade;
	border-radius: 20px;
}

.table .form-control {
	border-radius: 50px;
	border: none;
	background-color: #4a4e69 !important;
}

.btn-success {
	background-color: #415a77;
	border: none;
	border-radius: 10px;
}

.btn-success:hover {
	background-color: #6288b3;
}

/* WOLVES */
.border,
.border-bottom,
.border-left,
.border-right,
.border-top {
	border: double 4px #ffffff7d !important;
	border-radius: 100px;
	margin: 3px;
}

.p-2 {
	height: 50px;
	width: 50px;
	padding: 0 !important;
	margin: 5px 5px 5px 5px;
}

.progress {
	background-color: #ffd9c4 !important;
}

.bg-warning,
.bg-warning .btn-link,
.bg-warning .card-title {
	background-color: #ffb4a2 !important;
}

.bg-success {
	background-color: #e5989b !important;
}

.bg-primary {
	background-color: #e5989b !important;
}

.bg-danger {
	background-color: #b5838d !important;
}

.bg-info {
	background-color: #6d6875 !important;
}

.table div.progress-bar.bg-success {
	background-color: #ffb4a2 !important;
}

/* CAVE MATS */
#main .card {
	background: none;
}

#main .card.mb-3 .card-body {
	background-color: #a6808cb8 !important;
	border-radius: 100px;
	border: none;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
	color: #c5deff;
}

.text-danger {
	color: #ffb4a2 !important;
}

hr.flowers {
	background: none;
	content: url('https://i.postimg.cc/QC8P6T0q/pngwing-comjhv.png');
	width: 75%;
	height: 200px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	opacity: 20%;
	filter: grayscale(100%);
}

/* DEN OPTIONS */
input.form-control,
input.form-control:focus,
select.form-control,
select.form-control:focus,
textarea.form-control,
textarea.form-control:focus {
	background-color: #22223bd1;
	border: none;
	color: #ededed;
	border-radius: 100px;
}

.custom-control hr {
	display: none;
}

select.form-control[multiple],
select.form-control[size],
textarea.form-control {
	border-radius: 0 0 0 20px !important;
}

.bg-bar-input {
	background-color: #22223b;
	border: none;
	border-radius: 0 20px 0 0;
}

.btn.btn-htmlinput {
	background-color: #4a4e69;
	border: none;
}

.btn-danger {
	background-color: #a6808c;
	border: none;
}

.text-td-bottom {
	color: #ededed;
}

.text-center.mt-4 .btn.btn-success.btn-lg {
	background-color: #8d7989;
}

.btn-info {
	color: #ededed !important;
	background-color: #4a4e69;
	border: none !important;
	border-radius: 10px;
}

.card-header:first-child {
	border: none;
	background: none;
}

.btn-warning {
	border-radius: 10px;
	background-color: #95b1d5;
	border: none;
}

p.text-center i {
	color: #ededed !important;
}

.justify-content-center {
	background-color: #0d1b2a87;
}

#footer {
	background: none;
}

span.copyright a {
	color: #ededed !important;
}

#footer nav .nav-item .nav-link {
	color: #ededed;
}

/* HOTLINKS */
@media (min-width: 1090px) {
	.hotlink {
		background-color: rgba(45, 75, 160, 0.4) !important;
		border: 1px solid rgb(205, 245, 255)!important;
		box-shadow: 0 0 5px rgb(90, 190, 250) !important;
		color: rgb(205, 245, 255)!important;
		padding: 5px!important;
		position: fixed!important;
		text-align: center!important;
		border-radius: 5px 5px 5px 0px!important;
		left: 0px!important;
		bottom: 0px!important;
		width: 160px!important;
		height: 35px!important;
		transition: 0.5s!important;
		z-index: 1;
	}

	.hotlink:hover {
		height: 220px!important;
	}
}

@media (max-width: 1090px) {
	.hotlink {
		display: none!important;
	}
}

/* HTML TEXT */
/*<div class="text-break" id="fraDenHTML">
<div class="hotlink"><h4>Quick Links</h4><a href="https://www.wolvden.com/explore">Explore</a><br>
<a href="https://www.wolvden.com/hunting">Hunting</a><br>
<a href="https://www.wolvden.com/herbalist">Herbalist</a><br>
<a href="https://www.wolvden.com/games">Games</a><br>
<a href="https://www.wolvden.com/questing">Questing</a><br>
<a href="https://www.wolvden.com/enclave">Enclave</a><br>
<a href="https://www.wolvden.com/trading-center">Trading Center</a><br>
<a href="https://www.wolvden.com/custom-decors">Custom Decors</a></div><br>
</div>*/
