/* FONTS */
	@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

	@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

	/* CURSOR */
	* {
		cursor: url('http://www.rw-designer.com/cursor-extern.php?id=21935'), auto !important;
	}

	/* BG IMAGE */
	body,
	th {
		background: url('https://i.postimg.cc/VvyDPbpW/fo5j8sj.jpg') center fixed !important;
		background-size: cover !important;
	}

	/* SCROLLBAR */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #040509;
	}

	::-webkit-scrollbar-thumb {
		background: #2f4e7d;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #6fabec;
	}

	/* HEADER */
	h1 {
		font-family: 'Cinzel Decorative';
		font-size: 125px;
		text-align: center;
		text-shadow: 0px 0px 8px #a7f2fb;
		color: #fafefe;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 70px;
		}
	}

	/* TEXT */
	* {
		font-family: 'Cormorant Garamond';
		font-weight: bold;
	}

	a {
		font-family: 'Cormorant Garamond';
		transition: text-shadow 0.35s ease;
	}

	a:hover {
		color: #fafefe !important;
		text-decoration: none;
		text-shadow: 0 0 3px #a7f2fb,
		0 0 3px #a7f2fb,
		0 0 3px #a7f2fb;
	}

	/* NAVBAR */
	#header.container {
		background-color: transparent;
		background-image: linear-gradient(to bottom, #000, #000000e3, #000000c2);
	}

	#header.container .navbar.navbar.navbar-main.navbar-dark.navbar-expand-lg {
		background: none;
	}

	#header .navbar-main .nav-link {
		font-family: 'Cinzel Decorative' !important;
		font-size: 23px;
		font-weight: lighter;
		color: #fafefe;
		transition: 1s ease;
	}

	#header .navbar-main .nav-link .fa {
		display: none;
	}

	#header.container .navbar.navbar-status.navbar-expand {
		background-color: transparent;
		border: none !important;
	}

	.btn-group-vertical > .btn,
	.btn-group > .btn {
		padding: 5px !important;
	}

	#header .navbar-status a,
	.navbar-text {
		font-weight: bold;
		color: #a6d0ff;
	}

	#header .navbar-status a:hover {
		color: #fafefe;
	}

	button.btn.dropdown-toggle.border-0.text-light.b.m-0.p-0 {
		color: #a6d0ff !important;
	}

	.icon-beetle-gold,
	.icon-gold-cone::before {
		content: '';
		background-image: url('https://i.postimg.cc/zf4G5JjP/B3C2A3BB-6AFA-41C4-BAB7-983F0CC7E5AB-4-5005-c-Photoroom.png') !important;
		background-repeat: no-repeat;
		background-size: cover;
		width: 25px;
		height: 25px;
	}

	.icon-beetle-silver,
	.icon-silver-cone::before {
		content: '';
		background-image: url('https://i.postimg.cc/mrKgRbwX/70419DD6-1B26-4DCE-AA69-F19AAC5BA716-4-5005-c-Photoroom.png') !important;
		background-repeat: no-repeat;
		background-size: cover;
		width: 25px;
		height: 25px;
	}

	#header.container .breadcrumb-nav {
		background-color: transparent;
		border: none !important;
	}

	#header .breadcrumb-nav .breadcrumb {
		max-width: 99%;
		margin-left: 5px !important;
	}

	li.breadcrumb-item a {
		font-weight: bold;
		color: #a6d0ff;
	}

	.breadcrumb-item.active {
		font-weight: bold;
		color: #fafefe;
	}

	.breadcrumb.col-lg-9.ml-auto.text-break::after {
		content: "CSS by #181677";
		font-weight: bold !important;
		color: #626e85;
		position: absolute;
		right: 4%;
		z-index: 100;
	}

	@media (max-width: 768px) {
		.breadcrumb.col-lg-9.ml-auto.text-break::after {
			right: 8%;
		}
	}

	i#bookmarkPage.fas.fa-bookmark.text-danger::before {
		color: #29446c;
	}

	/* MAIN */
	#main {
		background-color: #000000c2;
	}


	.nav.nav-tabs {
		border: none;
		display: flex !important;
		justify-content: center !important;
		background-color: transparent;
		font-size: 18px;
	}

	.nav-tabs .nav-link {
		border: none;
		color: #a6d0ff;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		background-color: transparent;
		font-size: 18px;
		color: #a6d0ff;
	}

	i.fas.fa-home.mr-2::before {
		content: none;
	}

	.fa-user:before {
		content: none;
	}

	button.btn.btn-warning.btn-spoiler {
		background-color: #c4bde24d;
		border: solid 2px #c4bde24d;
		border-radius: 5px !important;
		color: #fafefe;
	}

	button.btn.btn-warning.btn-spoiler.active {
		background-color: #e7e2ff73;
		border: solid 2px #e7e2ff73;
	}

	i.fas.fa-home.mr-2::before {
		content: "\f762";
		font-family: "Font Awesome 5 Free";
		font-size: 20px !important;
		color: #a6d0ff;
		text-align: center !important;
	}

	.fa-user:before {
		content: "\f2dc";
		font-family: "Font Awesome 5 Free";
		font-size: 20px !important;
		color: #a6d0ff;
		text-align: center !important;
	}

	/* ALERTS AND BUTTONS */
	.alert-success {
		background-color: #6c685300;
		background-image: radial-gradient(circle, #739bcd52, #739bcd26, #7d7b9500);
		border-radius: 100px;
		border: none;
		padding-bottom: 10px;
		text-align: center;
		backdrop-filter: blur(25px);
	}

	.alert-danger {
		background-color: #94adff1a;
		border: none;
		border-radius: 100px;
		margin-bottom: 50px;
		padding-bottom: 10px !important;
	}

	.alert-danger a {
		color: #fafefe !important;
	}

	.alert-info {
		background-color: #27332500;
		background-image: radial-gradient(circle, #1e222b, #1e222b9c, #1e222b00);
		text-align: center;
		border: none;
		border-radius: 100px;
		padding-bottom: 10px;
	}

	.table {
		border: none;
	}

	/* SIDEBAR */
	#sidebar {
		background-color: #000000c2;
	}

	#sidebar div.card {
		background: none;
		border: none;
	}

	#sidebar div.card-body {
		background-color: #000b1b75;
		border: solid 1px #b2e0ff7d;
		border-radius: 5px;
		margin-top: 10px;
		box-shadow: 0 0 5px 3px #b2e0ff52;
	}

	#sidebar div.card-body b {
		color: #a6d0ff;
	}

	#sidebar div.card-body span {
		color: #fafefe;
	}

	#sidebar div.card-body h4 {
		color: #a6d0ff;
	}

	#sidebar div.card-body div small {
		color: #fafefe;
	}

	#sidebar div.card-body p.text-center.mb-0.mt-2 small {
		color: #a6d0ff;
	}

	#sidebar div.card-body p.m-1 a {
		color: #fafefe;
	}

	#sidebar div.card-body h3.mb-3 {
		color: #a6d0ff;
	}

	#sidebar div.card-body h3.mb-3 a {
		color: #a6d0ff;
	}

	#sidebar div.card-body a {
		color: #a6d0ff;
	}

	#sidebar div.card-body div.d-flex.justify-content-between.mt-1.small span {
		color: #a6d0ff;
	}

	#sidebar div.card-body li a {
		color: #fafefe;
	}

	#sidebar div.card-body h4.card-title small a {
		color: #fafefe;
	}

	#sidebar div.card-body a b {
		color: #fafefe;
	}

	.progress {
		background-color: #020c0e00 !important;
		border-radius: 100px !important;
	}

	#sidebar .bg-warning {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #dddfff00, #f9fbff);
		border-radius: 100px;
	}

	#sidebar .bg-danger {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #a6aadb00, #c6d8ff);
		border-radius: 100px;
	}

	#sidebar .bg-info {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #5c5c5c00, #7d9adc);
		border-radius: 100px;
	}

	#sidebar .bg-success {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #28274400, #3b538b);
		border-radius: 100px;
	}

	button.btn.btn-danger.mb-3 {
		background-color: #28426a;
		border: none;
		border-radius: 10px;
	}

	div#chatMessageContainer.chatContainer {
		width: 230px !important;
	}

	/* LEAD AND FEATURED */
	table.table.table-striped.border-none.mt-3.mb-0 tr {
		background-color: #1f1f1f00 !important;
		border-radius: 10px;
	}

	table.table.table-striped.border-none.mt-3.mb-0 tr {
		background: none;
	}

	th.pt-1.pb-1 {
		border-radius: 30px 30px 0 0;
		background: none !important;
		padding-top: 10px !important;
		padding-left: 10px !important;
		text-align: left;
		font-size: 24px !important;
		color: #a6d0ff;
	}

	th.pt-1.pb-1 a {
		font-size: 24px !important;
		color: #fafefe;
		padding-left: 5px;
	}

	div.card.mb-3 img {
		border-radius: 100px;
		z-index: 2 !important;
		border: none;
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
		margin-top: 10px;
	}

	div.card.mb-3 img:hover {
		filter: grayscale(0%);
		transition: filter 1s ease-in-out;
	}

	div.card.mb-3 {
		background: none !important;
		margin-top: -10px !important;
	}

	@media (max-width: 768px) {
		th.pt-1.pb-1 {
			text-align: center;
		}
	}

	div.card-body.pt-1.pb-1 {
		display: none;
	}

	#main .table .card.mb-3 a:before {
		content: '';
		background-image: url('https://i.postimg.cc/vm92jLZF/New-Project-(17).png');
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		width: 230px;
		height: 500px;
		top: -4.5%;
		left: -21%;
		position: absolute;
		pointer-events: none;
		z-index: 0 !important;
		mix-blend-mode: screen;
		opacity: 100%;
	}

	@media (max-width: 768px) {
		#main .table .card.mb-3 a:before {
			top: -4%;
			left: -20%;
			width: 250px;
			height: 700px;
			position: absolute;
		}
	}

	.order-xl-9 {
		max-width: 420px;
		backdrop-filter: blur(10px);
		border-radius: 15px;
		margin-top: -10px;
		margin-bottom: 20px;
	}

	@media (max-width: 768px) {
		.order-xl-9 {
			margin-top: 20px;
		}
	}

	rder-xl-9 table.striped tbody tr {
		background: none !important;
	}

	.order-xl-9 table.striped tbody td {
		text-align: center;
	}

	.order-xl-9 table.striped tbody td.b {
		text-align: right;
		width: 155px;
	}

	i.fas.fa-circle {
		color: #a1addc;
	}

	.order-xl-9 table.striped a {
		color: #a6d0ff;
		transition: color 1s ease-in-out;
	}

	i.fas.fa-question-circle {
		display: none;
	}

	button.btn.btn-link.btn-sm.text-danger {
		display: none;
	}

	div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf {
		margin-top: -46px;
	}

	@media (max-width: 768px) {
		div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf {
			margin-top: 50px;
			margin-bottom: 10px
		}
	}

	span#lblFeaturedWolfTitle.b {
		font-size: 24px;
		color: #a6d0ff;
	}

	.featured-wolf img {
		width: 200px !important;
		border-radius: 100px;
		border: none;
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	.featured-wolf img:hover {
		filter: grayscale(0%);
		transition: filter 1s ease-in-out;
	}

	.featured-wolf a {
		font-size: 24px;
		color: #fafefe !important;
	}

	#main .featured-wolf a:first-of-type:before {
		z-index: 1;
		content: '';
		background-image: url('https://i.postimg.cc/rpWZbCFH/New-Project-(19).png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		display: inline-block;
		width: 260px;
		height: 600px;
		top: -1.5%;
		left: -8%;
		position: absolute;
		pointer-events: none;
		mix-blend-mode: screen;
		opacity: 100%;
	}

	@media (max-width: 768px) {
		#main .featured-wolf a:first-of-type:before {
			top: -3%;
			left: 21%;
			width: 285px;
			height: 600px;
			position: absolute;
		}
	}

	/* DEN CARDS */
	#denCards .card {
		background: none;
		border-radius: 200px !important;
	}

	#denCards .card-header {
		background: none;
		backdrop-filter: none;
		border: none;
	}

	#denCards .card-header b {
		font-family: 'Cinzel Decorative' !important;
		font-weight: lighter !important;
		font-size: 25px;
		text-shadow: 0px 0px 5px #001331;
	}

	@media (max-width: 768px) {
		div#denCards.form-row {
			display: grid !important;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			margin: 0 auto;
			gap: 5px !important;
		}
	}


	@media (max-width: 768px) {

		.col-6 {
			max-width: 100% !important;
		}
	}

	@media (max-width: 768px) {

		#denCards .card {
			height: 110px;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-img-top {
			border-radius: 10px !important;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-header b {
			font-size: 25px !important;
		}
	}


	img[src$="packdynasty.png"] {
		content: url('https://i.postimg.cc/mkBCsrP6/1-1.gif')!important;
		border: solid 1px #1e3852;
		border-radius: 10px;
		height: 175px;
		transition: filter 1s ease-in-out;
	}

	img[src$="packdynasty.png"]:hover {
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	img[src$="packoverview.png"] {
		content: url('https://i.postimg.cc/tThWw64T/2-1.gif')!important;
		border: solid 1px #1e3852;
		border-radius: 10px;
		height: 175px;
		transition: filter 1s ease-in-out;
	}

	img[src$="packoverview.png"]:hover {
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	img[src$="breeding.png"] {
		content: url('https://i.postimg.cc/0QpDFSyb/3-1.gif')!important;
		border: solid 1px #1e3852;
		border-radius: 10px;
		height: 175px;
		transition: filter 1s ease-in-out;
	}

	img[src$="breeding.png"]:hover {
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	img[src$="pupsitting.png"] {
		content: url('https://i.postimg.cc/Y91YZFCj/1-2.gif')!important;
		border: solid 1px #1e3852;
		border-radius: 10px;
		height: 175px;
		transition: filter 1s ease-in-out;
	}

	img[src$="pupsitting.png"]:hover {
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	img[src$="nesting.png"] {
		content: url('https://i.postimg.cc/bJQkWnwr/2-2.gif')!important;
		border: solid 1px #1e3852;
		border-radius: 10px;
		height: 175px;
		transition: filter 1s ease-in-out;
	}

	img[src$="nesting.png"]:hover {
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	img[src$="socializing.png"] {
		content: url('https://i.postimg.cc/PxG1Syhb/3-2.gif')!important;
		border: solid 1px #1e3852;
		border-radius: 10px;
		height: 175px;
		transition: filter 1s ease-in-out;
	}

	img[src$="socializing.png"]:hover {
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	/* STANDARD LISTING */
	table.table.table-striped th.top {
		text-align: center !important;
		border-radius: 10px 10px 0 0;
	}

	table.table.table-striped th.top a.h4 {
		font-family: 'Cinzel Decorative';
		font-size: 35px;
		font-weight: lighter;
		color: #fafefe;
		text-shadow: 0px 0px 3px #a7f2fb;
	}

	@media (max-width: 768px) {

		table.table.table-striped th.top a.h4 {
			font-size: 18px !important;
			font-weight: bold;
		}
	}

	.font-weight-bold td.subheader {
		background-color: transparent !important;
	}

	button.collapseCave.btn.btn-info.btn-sm {
		background: none;
		border: none;
		color: #fff;
		font-size: 16px;
		text-shadow: 0px 0px 2px #000;
	}

	td.p-0 img {
		border: solid 1.4px #ffffffc7 !important;
		border-radius: 100px;
		margin: 3px;
		filter: grayscale(100%);
		transition: filter 1s ease-in-out;
	}

	td.p-0 img:hover {
		filter: grayscale(0%);
		transition: filter 1s ease-in-out;
	}

	tr.pup img {
		padding: 0 !important;
		width: 46px;
		margin-left: 8px;
	}

	table.table.table-striped div.text-break a {
		color: #a6d0ff;
	}

	.table-striped tbody tr:nth-of-type(odd) {
		background-color: #0000003d !important;
	}

	.table-striped tbody tr:nth-of-type(even) {
		background-color: #00000073 !important;
	}

	.bg-warning {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #dddfff00, #f9fbff);
		border-radius: 100px;
	}

	.bg-success {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #dddfff00, #f9fbff);
		border-radius: 100px;
	}

	.bg-primary {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #a6aadb00, #c6d8ff);
		border-radius: 100px;
	}

	.bg-danger {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #5c5c5c00, #7d9adc);
		border-radius: 100px;
	}

	.bg-info {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #28274400, #3b538b);
		border-radius: 100px;
	}

	td.bottom {
		background-color: transparent !important;
	}

	.form-control {
		background-color: #6599f31f !important;
		border: none;
		border-radius: 100px;
	}

	button.btn.btn-success {
		background-color: #274169b8;
		border: none;
		border-radius: 10px;
	}

	/* CARD LISTING */
	.bg-light {
		background-color: #4f7ad221 !important;
		border: solid 2px #4f7ad236;
		border-radius: 10px;
	}

	.text-truncate {
		background: none !important;
		color: #a6d0ff !important;
	}

	.text-truncate small.b {
		font-size: 16px;
	}

	.rounded-bottom,
	.rounded-left {
		border: solid 2px #ffffffc7;
		border-radius: 100px !important;
		margin-top: 5px;
		width: 120px;
		filter: grayscale(100%) !important;
		transition: filter 1s ease-in-out;
	}

	.rounded-bottom:hover,
	.rounded-left:hover {
		filter: grayscale(0%) !important;
		transition: filter 1s ease-in-out !important;
	}

	img.rounded-bottom.pl-3.pr-3.pt-2.pb-1 {
		padding: 0 !important;
		width: 110px;
		height: auto;
	}

	.pr-4,
	.px-4 {
		margin-bottom: 5px;
	}

	/* CAVE MATS */
	div.card.mb-3 {
		background: none !important;
	}

	div.card.mb-3 div.card-body {
		background-color: #7592dc1c;
		border-radius: 20px;
	}

	button#submitBtn.btn.btn-primary {
		background-color: #5a81bc80;
		border-radius: 10px;
		border: none;
	}

	.col-md-1 img {
		filter: grayscale(100%);
	}

	div.card.m-0 {
		background-color: rgba(0, 0, 0, .51) !important;
	}

	.border-0 {
		color: #fff;
	}

	a.text-danger.small.ml-2 {
		color: #a6d0ff !important;
	}

	button.btn.btn-info.btn-sm {
		background-color: #274169b8;
		border: none;
	}

	div.floatright.b.mt-2 a {
		color: #a6d0ff !important;
	}

	hr.flowers {
		background: none;
		content: url('https://i.postimg.cc/3NWPr34q/3dffa636-7b59-44ba-888c-0827bbf42333.png');
		width: 820px;
		height: 65px !important;
		opacity: 50%;
		mix-blend-mode: lighten;
	}

	@media (max-width: 768px) {
		hr.flowers {
			width: 450px;
			height: 40px !important;
		}
	}

	/* DEN OPTIONS */
	.bg-bar-input {
		background-color: #1e304c45;
	}

	.btn.btn-htmlinput {
		background-color: #213250;
		border: none;
	}

	.btn-danger {
		background-color: #485c7e;
		bordeR: none;
	}

	textarea#txtDenHTML.form-control {
		border: none !important;
		border-radius: 0;
	}

	.btn-info {
		background-color: #0d253fd1;
		border: none;
		border-radius: 10px;
	}

	.btn-info:hover {
		background-color: #2a496b;
	}

	.col-md-6 div.card.text-center {
		background: none !important;
	}

	.col-md-6 div.card.text-center p {
		font-size: 16px;
	}

	.col-md-6 div.card.text-center div.card-header {
		border: none;
		background: none;
	}

	.btn-warning {
		background-color: #115ba03d;
		border: solid 2px #115ba02b;
		;
		border-radius: 100px;
		color: #fff;
	}

	.btn-warning:hover {
		background-color: #2f86f13d;
		border: solid 2px #2f86f13d;
		color: white;
	}

	#footer.container {
		background-color: #0000;
	}

	/* STARS */
	.stars {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: url("https://i.postimg.cc/MHJJ5v9N/vecteezy-stars-sparkling-in-the-night-sky-background-loop-2017774-ezgif-com-video-to-gif-converter.gif") repeat;
		background-size: cover;
		opacity: .5;
		mix-blend-mode: lighten;
		animation: drift 120s linear infinite;
		/* slow drifting */
		z-index: 1;
	}

	/* HTML TEXT */
	/*<div class="fog"></div>*/
