/* FONTS */
	@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	@font-face {
		font-family: 'HighTower';
		src: url('https://veratuesday.github.io/VeraTuesday/High Tower Text Regular.ttf') format('truetype');
	}

	/* BACKGROUND IMAGE */
	body {
		background-image: url('https://i.postimg.cc/44VKGPzv/dghfjdrykdtkyugk.png') !important;
	}

	/* CURSOR */
	* {
		cursor: url('https://i.postimg.cc/RCc3MCy1/Image-To-Stl-com-cursor-10.png'), progress !important;
	}

	a:hover {
		cursor: url('https://i.postimg.cc/156xrtst/Image-To-Stl-com-cursor-12.png'), progress !important;
	}

	/* HEADING */
	h1 {
		font-family: 'HighTower';
		font-weight: lighter;
		font-size: 60px;
		text-align: center;
		color: #d4eafa !important;
	}

	/* SCROLLBAR */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #000;
	}

	::-webkit-scrollbar-thumb {
		background: #57b5ff;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #e0f9ff;
	}

	/* TEXT */
	* {
		font-family: 'Libertinus Serif';
		color: #77ace9;
	}

	/* NAVBAR */
	#header.container {
		background: none;
	}

	#header.container .navbar.navbar-main.navbar-dark.navbar-expand-lg {
		background-color: #0d5480;
		color: #7795e9 !important;
	}

	#header .navbar-main .nav-link .fa {
		color: #d4eafa !important;
	}

	#header.container .navbar.navbar-status.navbar-expand {
		background-color: #12355d;
	}

	#header.container .breadcrumb-nav {
		background-color: #012049;
	}

	li.breadcrumb-item a {
		color: #d4eafa !important;
	}

	div.dropdown-menu.show,
	a.dropdown-item {
		border: none !important;
		background-color: #12355d !important;
	}

	li.breadcrumb-item.active {
		color: #77ace9 !important;
	}

	.breadcrumb.col-lg-9.ml-auto.text-break::after {
		content: "CSS by #181677";
		color: #77ace96e;
		font-size: 14px !important;
		position: absolute;
		right: 6%;
		z-index: 100;
	}

	/* SIDEBAR */
	#sidebar {
		background-color: #0120497a;
	}

	#sidebar .card {
		background-color: #012049;
		border-radius: 20px;
		border-bottom: solid 5px #00132d;
		margin-top: 15px;
	}

	.pl-2,
	.px-2 {
		background: none !important;
	}

	div.card span {
		color: #d4eafa;
	}

	#quest-widget.card small {
		color: #d4eafa !important;
	}

	#quest-widget.card .text-center.mb-0.mt-2 small {
		color: #7795e9 !important;
	}

	img[alt='Wolf Headshot'] {
		border-radius: 100px;
		border: solid 3px #d4eafa;
	}

	div.w-50.pl-2.small.d-flex.flex-column.justify-content-center .mb-3 {
		color: #d4eafa;
	}

	#sidebar #card-user a {
		color: #d4eafa;
	}

	#sidebar #card-user h3 a {
		color: #7795e9;
	}

	.progress {
		color: #3a0706 !important;
		border: none;
	}

	.bg-warning {
		color: #7795e9 !important;
	}

	#sidebar .bg-danger {
		color: #712b29;
	}

	#sidebar .bg-info {
		color: #a6d1f4;
	}

	#sidebar .bg-success {
		color: #6e700a !important;
	}

	ul.bookmarks a {
		color: #d4eafa;
	}

	h4.card-title a {
		color: #d4eafa;
	}

	.s-chat-sidebar #chatMessageContainer {
		border: none;
	}

	.s-chat-sidebar #label_currentChannel {
		background-color: #001633;
		border: none;
	}

	.s-chat-sidebar #chatMessagePinned.s-chat-message__pinned {
		background-color: #233c65;
	}

	#chatMessagePinned.s-chat-message__pinned .s-chat-message_content {
		background-color: #233c65;
		box-shadow: none;
	}

	.s-chat-sidebar #chatMessageList .s-chat-message_content {
		color: #d4eafa !important;
	}

	.s-chat-message:nth-child(odd) {
		background-color: #012049;
	}

	.s-chat-message:nth-child(2n) {
		background-color: #001633;
	}

	#fra_chatContainer #txtChatInput {
		background-color: #001633;
		border: none;
	}

	.btn-primary,
	.btn-success {
		background-color: #0a4670;
		border: none;
	}

	#sidebar .card.d-none.d-lg-inline-block b,
	strong {
		color: #d4eafa;
	}

	#sidebar div.card-body.p-0.py-3 {
		padding: 16px !important;
	}

	/* MAIN */
	#main {
		background-color: #0120497a;
	}

	.nav.nav-tabs {
		border: none;
		display: flex !important;
		justify-content: center !important;
	}

	.nav-tabs .nav-link {
		border: none;
		color: #7795e9;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		background-color: transparent;
		color: #7795e9;
	}

	/* ALERTS AND BUTTONS */
	.alert-success {
		color: #d4eafa;
		background-color: #1b589acc;
		border-radius: 100px;
		border: none;
		;
		padding-bottom: 12px;
		text-align: center;
	}

	.alert-danger {
		background: none;
		border: dashed 3px #385485;
		border-radius: 100px;
		margin: 0;
		padding-bottom: 15px !important;
	}

	.alert-danger a {
		color: #d4eafa;
	}

	.alert-info {
		background-color: #0d3f80c7;
		text-align: center;
		border: none;
		border-radius: 100px;
		padding-bottom: 10px;
	}
	.table {
		background: none !important;
		border: none !important;
		-moz-background: none !important;
		-moz-border: none;
	}



	/* LEAD AND FEATURED WOLF */
	th.pt-1.pb-1 {
		background-color: #012049;
		font-size: 25px !important;
		border-radius: 15px 15px 0 0;
	}

	@media (max-width: 768px) {
		th.pt-1.pb-1 {
			text-align: center;
		}
	}

	#lblPackLeaderTitle {
		color: #d4eafa;
	}

	.table.table-striped.border-none.mt-3.mb-0 tr {
		background: none !important;
		border: none;
		-moz-background: none !important;
		-moz-border: none;
	}

	td.row {
		background-color: #12355d;
		margin: 0;
		border-radius: 0 0 15px 15px;
	}

	div.col-xl-3.col-sm-7.text-center {
		background-color: transparent !important;
	}

	#main .table .card.mb-3 a:before {
		content: '';
		background-image: url('https://i.postimg.cc/mrtm19fV/New-Project-(9).png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		display: inline-block;
		width: 200px;
		height: 700px;
		top: -8%;
		left: -8%;
		position: absolute;
		pointer-events: none;
		z-index: 0 !important;
		opacity: 100%;
	}

	@media (max-width: 768px) {
		#main .table .card.mb-3 a:before {
			top: -9.5%;
			left: -8.5%;
			width: 233px;
			height: 700px;
			position: absolute;
		}
	}

	.border-none .card-img-top,
	.table .form-row img {
		border-radius: 100px;
		border: none;
	}

	#main .featured-wolf a:first-of-type:before {
		z-index: 0;
		content: '';
		background-image: url('https://i.postimg.cc/mrtm19fV/New-Project-(9).png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		display: inline-block;
		width: 185px;
		height: 600px;
		top: 7%;
		left: 5%;
		position: absolute;
		pointer-events: none;
		opacity: 100%;
		transform: scaleX(-1);
	}

	@media (max-width: 768px) {
		#main .featured-wolf a:first-of-type:before {
			top: 7%;
			left: 29%;
			width: 185px;
			height: 600px;
			position: absolute;
		}
	}

	.border-none .card {
		background-color: transparent !important;
	}

	.card-body.pt-1.pb-1 {
		display: none;
	}

	.table th a {
		color: #d4eafa;
	}

	.featured-wolf img {
		width: 160.25px !important;
		height: 160.25px !important;
		border-radius: 100px;
		border: none;
		margin-bottom: 5px;
	}

	#lblFeaturedWolfTitle {
		font-size: 20px;
		color: #d4eafa;
		font-weight: lighter;
	}

	.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf a {
		font-size: 17px;
		color: #d4eafa;
	}

	button.btn.btn-link.btn-sm.text-danger {
		display: none;
	}

	.col-xl-6.col-sm-12.order-xl-9.order-12 td {
		background-color: #012049;
		text-align: center;
	}

	.col-xl-6.col-sm-12.order-xl-9.order-12 td.b {
		text-align: right;
	}

	.fa-circle:before {
		color: #77ace9;
	}

	.col-xl-6.col-sm-12.order-xl-9.order-12 a {
		color: #d4eafa !important;
	}

	div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf a {
		color: #d4eafa !important;
	}

	/* DEN CARDS */
	#denCards .card {
		background: none;
		border-radius: 150px;
	}

	#denCards .card-img-top {
		border-radius: 15px !important;
	}

	#denCards .card-header {
		border-radius: 0 0 15px 15px !important;
		background-color: #00082796;
	}

	#denCards b,
	strong {
		color: #d4eafa;
	}

	/* TABLE ROWS */
	table.table.table-striped th.top {
		border-radius: 15px 15px 0 0;
		background-color: #012049 !important;
		color: #d4eafa !important;
		font-size: 20px;
		text-align: center !important;
	}

	button.collapseCave.btn.btn-info.btn-sm {
		background: none;
		border: none;
		color: #d4eafa !important;
		font-size: 14px;
		text-shadow: 0px 0px 3px #091a1d;
	}

	.table th.top a.h4 {
		color: #77ace9 !important;
		font-size: 17px;
		text-align: center !important;
	}

	.subheader {
		background-color: #122a5d !important;
	}

	.table div.text-break a {
		color: #d4eafa !important;
	}

	tr {
		border: none !important;
	}

	.table-striped tbody tr:nth-of-type(odd) {
		background: #18306dde;
	}

	.table-striped tbody tr:nth-of-type(even) {
		background-color: #0d3f80d4;
	}

	.table tr.pup,
	.table tr.pup:nth-of-type(odd) {
		background: #1c4f92;
	}

	.table td.bottom {
		background-color: #012049;
		border-radius: 0 0 20px 20px;
	}

	.table .form-control {
		border-radius: 50px;
		border: none;
		background-color: #122a5d !important;
		color: #d4eafa;
	}

	.btn-success {
		background-color: #0d3780;
		border: none;
		border-radius: 10px;
		color: #d4eafa;
	}

	/* WOLF PROFILES */
	.border,
	.border-bottom,
	.border-left,
	.border-right,
	.border-top {
		border: solid 2px #77b8e9 !important;
		border-radius: 100px;
		margin: 3px;
	}

	.p-2 {
		height: 50px;
		width: 50px;
		padding: 0 !important;
		margin: 5px 5px 5px 5px;
	}

	.progress {
		background-color: #faf5d4cf !important;
	}

	.bg-warning,
	.bg-warning .btn-link,
	.bg-warning .card-title {
		background-color: #cba156 !important;
	}

	.bg-success {
		background-color: #6e700a !important;
	}

	.bg-primary {
		background-color: #6e700a !important;
	}

	.bg-danger {
		background-color: #861f1c !important;
	}

	.bg-info {
		background-color: #50799e !important;
	}

	.table div.progress-bar.bg-success {
		background-color: #cba156 !important;
	}

	/* WOLF CARDS */
	.bg-light img.rounded-bottom {
		border: solid 2px #77b8e9 !important;
		border-radius: 100px;
		margin: 3px;
	}

	.pl-3,
	.px-3 {
		padding: 0 !important;
	}

	.bg-light img {
		border: none !important;
	}

	/* CAVE MATS */
	div.card.mb-3 {
		margin-top: 20px !important;
	}

	.col-md-1 img {
		border: none !important;
		border-radius: 0 !important;
	}

	button#submitBtn.btn.btn-primary {
		background-color: #5254b975;
		border: none;
	}

	div.card.m-0 {
		background-color: rgba(1, 0, 32, 0) !important;
	}

	.border-0 {
		color: #fff;
	}

	a.text-danger.small.ml-2 {
		color: #6b99d5 !important;
	}

	button.btn.btn-info.btn-sm {
		background-color: #012049;
		border: none;
	}

	#main .card {
		background: none;
	}

	#main .card.mb-3 .card-body {
		background-color: #244a97e0 !important;
		border-radius: 100px;
		border: none;
		padding-left: 35px;
	}

	#main h1,
	#main h2,
	#main h3,
	#main h4,
	#main h5,
	#main h6 {
		color: #d4eafa;
	}

	.btn-primary {
		border-radius: 15px;
	}

	/* DEN OPTIONS */
	input.form-control,
	input.form-control:focus,
	select.form-control,
	select.form-control:focus,
	textarea.form-control,
	textarea.form-control:focus {
		background-color: #12355d;
		border: none;
		color: #d4eafa;
		border-radius: 100px;
	}

	.custom-control hr {
		display: none;
	}

	select.form-control[multiple],
	select.form-control[size],
	textarea.form-control {
		border-radius: 0 0 0 20px !important;
	}

	.bg-bar-input {
		background-color: #012049;
		border: none;
		border-radius: 0 20px 0 0;
	}

	.btn.btn-htmlinput {
		background-color: #033268;
		border: none;
	}

	.text-td-bottom {
		color: #d4eafa;
	}

	.btn-info {
		color: #d4eafa !important;
		background-color: #43668c;
		border-radius: 10px;
	}

	.btn-warning {
		border-radius: 10px;
	}

	p.text-center i {
		color: #d4eafa !important;
	}

	.justify-content-center {
		background-color: #012049;
	}

	span.copyright a {
		color: #d4eafa !important;
	}

	#footer nav .nav-item .nav-link {
		color: #d4eafa;
	}

	/* PROFILE */
	img.user-tag {
		border-radius: 50px;
		border: none;
	}

	.table .left {
		background: none;
	}

	.table td.right {
		color: #d4eafa;
	}

	.table td.right a {
		color: #46a4db;
	}

	.table td.right span.text-success {
		color: #165b9b !important;
	}

	.form-row a {
		color: #d4eafa;
	}

	td.bottom a {
		color: #d4eafa;
	}

	.table th {
		background-color: #012049;
		border-radius: 20px 20px 0 0;
		color: #d4eafa;
		font-size: 20px;
	}

	div.container-fluid.p-0 a {
		color: #d4eafa;
	}

	.form-row .p-2 {
		border-radius: 50px !important;
		padding-top: 15px !important;
		width: 120px;
	}

	.card.bg-light.border {
		background: none !important;
		border: none !important;
	}

	.card-body {
		background: none !important;
	}

	th.top div.floatright {
		width: 120px !important;
	}
