

	/* DEN CARDS */
	#denCards .card {
		background: none;
		border-radius: 200px !important;
	}

	#denCards .card-header {
		background: none;
		backdrop-filter: none;
		border: none;
	}

	#denCards .card-header b {
		font-family: 'Toruksc' !important;
		font-weight: lighter !important;
		font-size: 0px;
		text-shadow: 0px 0px 3px #001977;
	}

	@media (max-width: 768px) {
		div#denCards.form-row {
			display: grid !important;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			margin: 0px auto;
			margin-bottom: 70px !important;
			gap: 2.5rem !important;
		}
	}


	@media (max-width: 768px) {

		.col-6 {
			max-width: 100% !important;
		}
	}

	@media (max-width: 768px) {

		#denCards .card {
			height: 65px;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-img-top {
			border-radius: 10px !important;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-header {
			top: 0px;
		}
	}

	@media (max-width: 768px) {

		#denCards .card-header b {
			font-size: 0px !important;
		}
	}


	img[src$="packdynasty.png"] {
		content: url('https://i.postimg.cc/76qYZMb2/avatargifdynasty.gif')!important;
		border: solid 1px #39b8d5;
		border-radius: 10px;
		height: 130px;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="packdynasty.png"]:hover {
		box-shadow: 0 0 7px 2px #7be6ff;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="packoverview.png"] {
		content: url('https://i.postimg.cc/NMQfj7LF/avatargifoverview.webp')!important;
		border: solid 1px #39b8d5;
		border-radius: 10px;
		height: 130px;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="packoverview.png"]:hover {
		box-shadow: 0 0 7px 2px #7be6ff;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="breeding.png"] {
		content: url('https://i.postimg.cc/tT9C4t7Y/avatargifbreeding.gif')!important;
		border: solid 1px #39b8d5;
		border-radius: 10px;
		height: 130px;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="breeding.png"]:hover {
		box-shadow: 0 0 7px 2px #7be6ff;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="pupsitting.png"] {
		content: url('https://i.postimg.cc/LXm68Bhq/avatargifpupsitting.gif')!important;
		border: solid 1px #39b8d5;
		border-radius: 10px;
		height: 130px;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="pupsitting.png"]:hover {
		box-shadow: 0 0 7px 2px #7be6ff;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="nesting.png"] {
		content: url('https://i.postimg.cc/ZRJK5F05/avatargifnesting.gif')!important;
		border: solid 1px #39b8d5;
		border-radius: 10px;
		height: 130px;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="nesting.png"]:hover {
		box-shadow: 0 0 7px 2px #7be6ff;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="socializing.png"] {
		content: url('https://i.postimg.cc/6TJPBz5D/avatargifsocializing.gif')!important;
		border: solid 1px #39b8d5;
		border-radius: 10px;
		height: 125px;
		transition: box-shadow .6s ease-in-out;
	}

	img[src$="socializing.png"]:hover {
		box-shadow: 0 0 7px 2px #7be6ff;
		transition: box-shadow .6s ease-in-out;
	}

	img[alt="Pack Dynasty"] + .card-header b {
		font-size: 0;
	}

	img[alt="Pack Dynasty"] + .card-header b::before {
		content: "Vitraya Ramunong - Tree of Souls" !important;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	img[alt="Pack Overview"] + .card-header b {
		font-size: 0;
	}

	img[alt="Pack Overview"] + .card-header b::before {
		content: "Na’vi - The People" !important;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	img[alt="Breeding"] + .card-header b {
		font-size: 0;
	}

	img[alt="Breeding"] + .card-header b::before {
		content: "Muntxa - Mated Pairs" !important;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	img[alt="Pupsitting"] + .card-header b {
		font-size: 0;
	}

	img[alt="Pupsitting"] + .card-header b::before {
		content: "Uniltaron - Rite of Passage" !important;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	img[alt="Nesting"] + .card-header b {
		font-size: 0;
	}

	img[alt="Nesting"] + .card-header b::before {
		content: "Iknimaya - The Trial" !important;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	img[alt="Socializing"] + .card-header b {
		font-size: 0;
	}

	img[alt="Socializing"] + .card-header b::before {
		content: "Tsaheylu - The Bond" !important;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	/* STANDARD LISTING */
	table.table.table-striped th.top {
		text-align: center !important;
		border-radius: 10px;
		box-shadow: 0px 0px 10px #00fffc;
	}

	table.table.table-striped th.top a.h4 {
		font-family: 'Papyrus';
		font-size: 40px;
		font-weight: bold;
		color: #e0f9ff;
		text-shadow: 0px 0px 5px #00fffc;
	}

	@media (max-width: 768px) {

		table.table.table-striped th.top a.h4 {
			font-size: 18px !important;
			font-weight: bold;
		}
	}

	tr.font-weight-bold td {
		background-color: rgba(255, 255, 255, 0) !important;
	}

	button.collapseCave.btn.btn-info.btn-sm {
		background: none;
		border: none;
		color: #fff;
		font-size: 14px;
		text-shadow: 0px 0px 3px #00ffe2;
	}

	td.p-0 img {
		border: solid 1px #00ffe2ab !important;
		border-radius: 100px;
		box-shadow: 0px 0px 5px #00ffe2;
		margin: 3px;
	}

	img.border-bottom.p-2 {
		padding: 0 !important;
		width: 46px;
		margin-left: 8px;
	}

	table.table.table-striped div.text-break a {
		color: #bbf2ff;
	}

	.table-striped tbody tr:nth-of-type(odd) {
		background-color: #91171700 !important;
	}

	.table-striped tbody tr:nth-of-type(even) {
		background-color: #0500208a !important;
	}

	.bg-warning {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #dddfff00, #96eff8);
		border-radius: 100px;
	}

	.bg-success {
		background-color: rgba(0, 0, 0, 0) !important;
		background-image: linear-gradient(to right, #dddfff00, #96eff8);
		border-radius: 100px;
	}

	.bg-primary {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #a6aadb00, #2edbfd);
		border-radius: 100px;
	}

	.bg-danger {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #5c5c5c00, #00a1e3);
		border-radius: 100px;
	}

	.bg-info {
		background-color: transparent !important;
		background-image: linear-gradient(to right, #28274400, #0077c4);
		border-radius: 100px;
	}

	td.bottom {
		background-color: transparent !important;
		border-radius: 100px;
	}

	.form-control {
		background-color: #00051fde !important;
		border: none;
		border-radius: 100px;
	}

	button.btn.btn-success {
		background-color: #1775a080;
		border: none;
		border-radius: 100px;
	}

	/* CARD LISTING */
	.bg-light {
		background-color: #4f7ad200 !important;
		background-image: linear-gradient(to bottom, #006b86d4, #005c86d9, #000227d6) !important;
		border: solid 2px #038aac !important;
		border-radius: 10px;
		padding-bottom: 5px !important;
	}

	@media (max-width: 768px) {
		.bg-light {
			width: 150px;
			height: auto !important;
		}
	}

	.text-truncate {
		background: none !important;
		color: #bbf2ff !important;
	}

	.text-truncate small.b {
		font-size: 14px;
	}

	.rounded-bottom,
	.rounded-left {
		border: solid 2px #00fbff;
		box-shadow: 0px 0px 8px #00ffe2;
		border-radius: 100px 100px 15px 15px !important;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 115px;
	}

	img.rounded-bottom.pl-3.pr-3.pt-2.pb-1 {
		padding: 0 !important;
		width: 115px;
		height: auto;
	}

	.pr-4,
	.px-4 {
		margin-bottom: 5px;
	}

	/* CAVE MATS */
	div.card.mb-3 {
		background: none !important;
	}

	div.card.mb-3 div.card-body {
		background-color: #2f65ee00;
		border-radius: 20px;
	}

	button#submitBtn.btn.btn-primary {
		background-color: #028badc7;
		border-radius: 10px;
		border: none;
	}

	.col-md-1 img {
		border: none !important;
	}

	div.card.m-0 {
		background-color: rgba(0, 11, 45, .8) !important;
	}

	.border-0 {
		color: #fff;
	}

	a.text-danger.small.ml-2 {
		color: #bbf2ff !important;
	}

	button.btn.btn-info.btn-sm {
		background-color: #27416900;
		border: none;
	}

	div.floatright.b.mt-2 a {
		color: #bbf2ff !important;
	}

	hr.flowers {
		background: none;
		content: url('https://i.postimg.cc/506hSn7L/17f8e4be401a9745acdab1b5da9e7492-(1).png');
		width: 600px;
		height: 160px !important;
		opacity: 50%;
		mix-blend-mode: lighten;
	}

	@media (max-width: 768px) {
		hr.flowers {
			width: 450px;
			height: 120px !important;
		}
	}

	/* DEN OPTIONS */
	.bg-bar-input {
		background-color: #081b39eb;
	}

	.btn.btn-htmlinput {
		background-color: #173c5d;
		border: none;
	}

	.btn-danger {
		background-color: #128c94;
		bordeR: none;
	}

	textarea#txtDenHTML.form-control {
		border-radius: 0;
	}

	.btn-info {
		background-color: #02456cd1;
		border: none;
		border-radius: 10px;
	}

	button.btn.btn-danger.h-100 {
		background-color: #02456cd1;
		border-radius: 10px;
	}

	.btn-info:hover {
		background-color: #2268b4;
	}

	.col-md-6 div.card.text-center {
		background: none !important;
	}

	.col-md-6 div.card.text-center p {
		font-size: 16px;
	}

	.col-md-6 div.card.text-center div.card-header {
		border: none;
		background: none;
	}

	.btn-warning {
		background-color: #001f54e0;
		border: solid 2px #05317d;
		;
		border-radius: 100px;
		color: #fff;
	}

	.btn-warning:hover {
		background-color: #003e89c4;
		border: solid 2px #2f86f1c2;
		color: white;
	}

	#footer.container {
		background-color: #0000;
	}

	/* FOG */
	.fog {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: url("https://file.garden/aGGPJdaTrg8araFN/Wolvden/Particles%20for%20Wolvden.gif") repeat;
		background-size: cover;
		opacity: 0.67;
		/* adjust fog thickness */
		mix-blend-mode: screen;
		/* makes black transparent */
		animation: drift 120s linear infinite;
		/* slow drifting */
		z-index: 999;
	}

	/* FOG HTML */
	/*<div class="fog"></div>*/
